<div
  class="benefits__container max-sm:mb-[25px] max-sm:mt-[30px] px-[15px] font-proxima mt-[94px] mb-[3px]"
  data-speed="1.1"
>
  <div class="benefits__header flex flex-col items-center max-sm:items-start">
    <p
      class="benefits__header-caption max-sm:tracking-[1.4px] max-sm:text-[14px] max-sm:leading-[26.5px] tracking-[1.7px] max-w-[146px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple text-[18px] leading-[26.5px] font-bold [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
    >
      OUR BENEFITS
    </p>
    <h3
      class="benefits__header-title max-sm:max-w-[250px] max-sm:!text-start max-sm:text-[26px] max-sm:leading-[34px] text-[36px] leading-[49.5px] font-bold text-center text-ui-primary"
    >
      Benefits from work with us
    </h3>
  </div>
  <div
    class="benefits__cards max-sm:gap-y-[16px] max-sm:mt-[28px] max-sm:gap-[11px] max-xl:grid max-xl:place-items-center max-xl:grid-cols-2 relative z-50 flex justify-center mt-[32px] gap-[30px]"
  >
    <div
      class="benefits__card max-sm:pt-[10px] max-sm:pb-[14px] max-sm:pl-[10px] max-sm:pr-[11px] rounded-[12px] pt-[18px] pb-[32px] pl-[19px] pr-[23px] max-w-[255px] bg-ui-backgroundLanguage flex flex-col"
    >
      <div
        class="benefits__card-svg max-sm:w-[36px] rounded-[12px] p-[10px] w-[48px] bg-gradient-to-r from-ui-colorBlue/10 to-ui-colorPurple/10"
      >
        <svg class="icon benefits__star max-sm:w-[18px] max-sm:h-[18px] w-[28px] h-[28px]">
          <use href="#icon-benegiftStar"></use>
        </svg>
      </div>
      <h3
        class="benefits__card-title max-sm:mt-[5px] max-sm:text-[14px] max-sm:leading-[20px] mt-[11px] text-[20px] leading-[30px] text-ui-primary font-bold"
      >
        Title of benefits
      </h3>
      <p
        class="benefits__card-text max-sm:mt-[0px] max-sm:text-[12px] max-sm:leading-[20px] mt-[4px] max-w-[213px] text-ui-primary text-[16px] leading-[28px]"
      >
        No purse as fully me or point. Kindness own whatever betrayed her moreover procured replying
        for and
      </p>
    </div>
    <div
      class="benefits__card max-sm:pt-[10px] max-sm:pb-[14px] max-sm:pl-[10px] max-sm:pr-[11px] rounded-[12px] pt-[18px] pb-[32px] pl-[19px] pr-[23px] max-w-[255px] bg-ui-backgroundLanguage flex flex-col"
    >
      <div
        class="benefits__card-svg max-sm:w-[36px] rounded-[12px] p-[10px] w-[48px] bg-gradient-to-r from-ui-colorBlue/10 to-ui-colorPurple/10"
      >
        <svg class="icon benefits__star max-sm:w-[18px] max-sm:h-[18px] w-[28px] h-[28px]">
          <use href="#icon-benegiftStar"></use>
        </svg>
      </div>
      <h3
        class="benefits__card-title max-sm:mt-[5px] max-sm:text-[14px] max-sm:leading-[20px] mt-[11px] text-[20px] leading-[30px] text-ui-primary font-bold"
      >
        Title of benefits
      </h3>
      <p
        class="benefits__card-text max-sm:mt-[0px] max-sm:text-[12px] max-sm:leading-[20px] mt-[4px] max-w-[213px] text-ui-primary text-[16px] leading-[28px]"
      >
        No purse as fully me or point. Kindness own whatever betrayed her moreover procured replying
        for and
      </p>
    </div>
    <div
      class="benefits__card max-sm:pt-[10px] max-sm:pb-[14px] max-sm:pl-[10px] max-sm:pr-[11px] rounded-[12px] pt-[18px] pb-[32px] pl-[19px] pr-[23px] max-w-[255px] bg-ui-backgroundLanguage flex flex-col"
    >
      <div
        class="benefits__card-svg max-sm:w-[36px] rounded-[12px] p-[10px] w-[48px] bg-gradient-to-r from-ui-colorBlue/10 to-ui-colorPurple/10"
      >
        <svg class="icon benefits__star max-sm:w-[18px] max-sm:h-[18px] w-[28px] h-[28px]">
          <use href="#icon-benegiftStar"></use>
        </svg>
      </div>
      <h3
        class="benefits__card-title max-sm:mt-[5px] max-sm:text-[14px] max-sm:leading-[20px] mt-[11px] text-[20px] leading-[30px] text-ui-primary font-bold"
      >
        Title of benefits
      </h3>
      <p
        class="benefits__card-text max-sm:mt-[0px] max-sm:text-[12px] max-sm:leading-[20px] mt-[4px] max-w-[213px] text-ui-primary text-[16px] leading-[28px]"
      >
        No purse as fully me or point. Kindness own whatever betrayed her moreover procured replying
        for and
      </p>
    </div>
    <div
      class="benefits__card max-sm:pt-[10px] max-sm:pb-[14px] max-sm:pl-[10px] max-sm:pr-[11px] rounded-[12px] pt-[18px] pb-[32px] pl-[19px] pr-[23px] max-w-[255px] bg-ui-backgroundLanguage flex flex-col"
    >
      <div
        class="benefits__card-svg max-sm:w-[36px] rounded-[12px] p-[10px] w-[48px] bg-gradient-to-r from-ui-colorBlue/10 to-ui-colorPurple/10"
      >
        <svg class="icon benefits__star max-sm:w-[18px] max-sm:h-[18px] w-[28px] h-[28px]">
          <use href="#icon-benegiftStar"></use>
        </svg>
      </div>
      <h3
        class="benefits__card-title max-sm:mt-[5px] max-sm:text-[14px] max-sm:leading-[20px] mt-[11px] text-[20px] leading-[30px] text-ui-primary font-bold"
      >
        Title of benefits
      </h3>
      <p
        class="benefits__card-text max-sm:mt-[0px] max-sm:text-[12px] max-sm:leading-[20px] mt-[4px] max-w-[213px] text-ui-primary text-[16px] leading-[28px]"
      >
        No purse as fully me or point. Kindness own whatever betrayed her moreover procured replying
        for and
      </p>
    </div>
  </div>
</div>
