@use '../base/_variables.scss' as *;
.header {
  padding-inline: 15px;
}
.nav {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding-block-start: 7px;
  &__list {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: 'Manrope', sans-serif;
    font-weight: $fontRegular;
    color: $secondary;
    padding-block-start: 4px;
  }
  &__logo {
    width: 161px;
    height: 30px;
  }
  &__items {
    padding-block: 8px;
    padding-inline: 12px;
    letter-spacing: -0.35px;
    white-space: nowrap;

    &:hover {
      background: linear-gradient(rgba($colorBlue, 0.1), rgba($colorPurple, 0.1));
      border-radius: 12px;
    }
  }

  .nft__link-lock {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .icon-lock {
    max-width: 14px;
    max-height: 14px;
    min-width: 14px;
    min-height: 14px;
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-inline-start: 52px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: $fontBold;
  }
  .btn-language {
    background-color: $backgroundLanguage;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-weight: $fontRegular;
    font-size: 14px;
    padding-block: 8px;
    margin-block-start: 2px;
    padding-inline-start: 5px;
    width: 74px;
    &::after {
      margin-inline-start: 4px;
    }
  }
  .premium {
    background: linear-gradient(90deg, rgba($colorBlue, 1), rgba($colorPurple, 1));
    border-radius: 12px;
    padding-block: 14px;
    padding-inline: 22px;
  }
  .premium__link {
    color: $backgroundBody;
  }
  .authorization {
    background: linear-gradient(rgba($colorBlue, 0.1), rgba($colorPurple, 0.1));
    border-radius: 12px;
    padding-block: 14px;
    padding-inline: 22px;
  }
  .authorization__link {
    background: linear-gradient(90deg, $colorBlue, $colorPurple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@include phone {
  .nav {
    gap: 20px;
    justify-content: space-between;
    padding-block-start: 16px;
    flex-direction: row-reverse;
    .profile,
    &__list {
      display: none;
    }
  }
}
