@use '../../base/variables' as *;

.footer__privacy,
.footer__terms,
.footer__reserved__text {
  color: $secondary;
}
.footer__mob {
  display: none;
}
.footer {
  background-color: $backgroundCardHomeNft;
}
// TABLET MEDIA

@media (max-width: 900px) {
  .footer__logo-icon {
    height: 30px;
    margin-block-start: 1px;
  }

  .footer {
    padding-inline: 20px;
    margin-block-start: 35px;
  }
  .footer__body {
    margin-block-start: 18px;
  }
}

// MOB MEDIA
@media (max-width: 600px) {
  .footer__privacy,
  .footer__terms {
    display: none;
  }
  .footer {
    padding-inline-start: 23px;
    padding-inline-end: 15px;
    padding-block-end: 25px;
  }
  .footer__social {
    margin-block-start: 2px;
  }
  .footer__mob {
    display: flex;
    color: $secondary;
  }
  .footer__reserved__text {
    font-size: 14px;
    line-height: 21px;
    margin-inline-start: 0px;
  }
  .footer__reserved {
    padding-block: 13.5px;
    background-color: $backgroundBody;
    border-radius: 8px;
    margin-inline-start: -8px;
    margin-inline-end: 0px;
    margin-block-start: 22px;

    &::before {
      display: none;
    }
  }
}
