<div
  data-component="pricingContainer"
  class="pricingcontainer max-sm:mt-[15px] max-sm:pt-[36px] overflow-hidden max-lg:px-[10px] mt-[10px] pt-[60px] px-[50px] relative"
>
  {{>pricing/NotWar}} {{>pricing/MakeArt}}
  <div
    class="pricingContainer__decor-left max-sm:-right-[100px] max-sm:left-[inherit] max-sm:w-[120px] bg-ui-backgroundFigureMob/100 blur-[150px] flex w-[300px] h-[550px] absolute top-[10px] -left-[150px] -z-10"
  ></div>
  <div
    class="pricingContainer__decor-right max-sm:right-0 max-sm:w-[100px] max-sm:flex  bg-ui-backgroundFigureMob/60 blur-[150px] flex w-[400px] h-[550px] absolute top-[10px] right-[100px] -z-10"
  ></div>
  <div
    class="pricingContainer__decor-right max-sm:w-[100px] max-sm:right-0 bg-ui-backgroundFigure/50 blur-[150px] flex w-[470px] h-[550px] absolute top-[30px] -right-[200px] -z-10"
  ></div>
  <div
    class="pricingContainer__decor-right max-sm:top-[0px] max-sm:h-[250px] max-sm:bg-ui-backgroundFigure2/50 bg-ui-backgroundFigure2/50 blur-[150px] flex w-[320px] h-[440px] absolute top-[60px] -right-[100px] -z-10"
  ></div>
  <svg
    class="icon__circle max-sm:left-[inherit] max-sm:right-[34px] max-sm:top-[156px] max-lg:-top-[13px] max-lg:left-[90px] w-[25px] h-[25px] absolute right-[352px] top-[192px]"
  >
    <use href="#icon-circle"></use>
  </svg>
  <svg
    class="icon__bigstars max-sm:-right-[127px] max-sm:top-[15px] max-sm:left-[inherit] animate-pulse duration-500 h-[62px] absolute left-[263px] top-[48px]"
  >
    <use href="#icon-stars"></use>
  </svg>
  <img
    class="img contact__purple max-lg:hidden absolute -z-10 left-[2px] top-[113px]"
    src="/img/home/contactPurple.png"
    alt="purple"
  />
  <img
    class="img contact__purple max-sm:blur-[2px] max-sm:w-[60px] max-sm:-right-[1px] max-sm:top-[80px] max-sm:block max-lg:hidden absolute -z-10 right-[1px] top-[147px]"
    src="/img/pricing/purple.webp"
    alt="purpleblur"
  />
  <img
    class="img contact__purple max-lg:hidden absolute -z-10 right-[285px] top-[37px] opacity-80"
    src="/img/pricing/blue.png"
    alt="blue"
  />
  <div class="pricing__title max-sm:ml-[5px] max-sm:items-start flex justify-center flex-col items-center">
    <h1
      class="pricing__title-title max-sm:ml-[3px] max-sm:max-w-[270px] max-sm:!text-start max-sm:text-[36px] max-sm:leading-[40px] max-w-[540px] text-ui-primary text-[64px] leading-[65px] font-bold text-center font-proxima"
    >
      Get the premium access
    </h1>
    <p
      class="pricing__title-caption max-sm:max-w-[280px] max-sm:mt-[18px] max-sm:!text-start max-sm:text-[15px] max-sm:leading-[24px] mt-[16px] max-w-[415px] text-[16px] leading-[28px] font-proxima text-center text-ui-primary"
    >
      Indulgence announcing uncommonly met she continuing two unpleasing terminated
    </p>
  </div>
  <div
  id="pricingTabs"
    class="pricing__mob max-sm:justify-center max-sm:mt-[13px] py-[7px] pl-[8px] pr-[4px] rounded-[12px] bg-ui-backgroundLanguage text-[14px] leading-[20px] w-full font-proxima hidden max-sm:flex"
  >
    <div
      class="pricing__mob-week tab w-[111px] h-[48px] text-ui-primary rounded-[12px] [&.active]:text-ui-backgroundLanguage [&.active]:font-bold [&.active]:bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple"
    >
      <p class="text-center pt-[14px]">One week</p>
    </div>
    <div
      class="pricing__mob-month tab w-[111px] h-[48px] text-ui-primary rounded-[12px] [&.active]:text-ui-backgroundLanguage [&.active]:font-bold [&.active]:bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple"
    >
      <p class="text-center pt-[14px]">Month</p>
    </div>
    <div
      class="pricing__mob-year tab w-[111px] h-[48px] text-ui-primary rounded-[12px] [&.active]:text-ui-backgroundLanguage [&.active]:font-bold [&.active]:bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple"
    >
      <p class="text-center pt-[14px]">Year</p>
    </div>
  </div>
  <div class="pricing__swiper max-h-[696px] mt-[4px] swiper mySwiperPricing max-w-[1150px] max-xl:max-w-full">
    <div class="pricing__wrapper max-sm:pl-0 pl-[42px] swiper-wrapper mt-[40px]"></div>
  </div>
</div>
