<div data-component="pricingContainer" class="pricingcontainer max-lg:px-[15px] mt-[70px] px-[50px]">
  <div class="pricing__title flex justify-center flex-col items-center">
    <h1
      class="pricing__title-title max-w-[540px] text-ui-primary text-[64px] leading-[65px] font-bold text-center font-proxima"
    >
      Get the premium access
    </h1>
    <p
      class="pricing__title-caption mt-[16px] max-w-[415px] text-[16px] leading-[28px] font-proxima text-center text-ui-primary"
    >
      Indulgence announcing uncommonly met she continuing two unpleasing terminated
    </p>
  </div>
  <div class="pricing__swiper mt-[4px] swiper mySwiperPricing max-w-[1150px] max-xl:max-w-full">
    <div class="pricing__wrapper max-sm:pl-0 pl-[42px] swiper-wrapper mt-[40px]">
      <div
        class="pricing-slide swiper-slide  max-sm:max-w-full max-lg:place-items-center max-lg:max-w-full max-xl:max-w-[450px] max-w-[350px] group transform"
      >
        <div
          class="pricing__card group-[&.swiper-slide-next]:mt-[36px] group-[&.swiper-slide-prev]:mt-[36px] group-[&.swiper-slide-active]:mt-[42px] group-[&.swiper-slide-active]:before:inset-[-5px] group-[&.swiper-slide-active]:before:rounded-[16px] group-[&.swiper-slide-active]:before:-z-10 relative group-[&.swiper-slide-active]:before:bg-gradient-to-r group-[&.swiper-slide-active]:before:from-ui-backgroundPricingBlue group-[&.swiper-slide-active]:before:to-ui-backgroundPricingPurple group-[&.swiper-slide-active]:before:absolute group-[&.swiper-slide-active]:before:content-[''] bg-ui-backgroundLanguage transform duration-700 group-[&.swiper-slide-active]:-translate-y-[46px] rounded-[12px] max-w-[350px] font-proxima pb-[18px]"
        >
          <div class="pricing__header rounded-t-[16px] bg-ui-backgroundLanguage relative">
            <p
              class="pricing__header-caption top-[0px] left-1/2 -translate-x-1/2 font-bold text-[80px] text-transparent opacity-20 [-webkit-text-stroke:1px_white] font-proxima absolute"
            >
              {{caption}}YEAR
            </p>
            <img
              class="pricing__header-img relative z-10 pt-[24px] pl-[28px]"
              src="../../../img/pricing/image 6 (1).webp"
              alt="crystalWeek"
            />
            <div
              class="crystal__brightness flex absolute blur-[30px] left-[30px] top-[75px] w-[110px] h-[80px] bg-ui-backgroundBiography2"
            ></div>
            <div
              class="pricing__duration pl-[26px] pr-[15px] absolute z-10 -bottom-[41px] right-[0px] h-[80px] w-[275px] py-[14px] text-ui-backgroundLanguage bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple rounded-bl-[8px] rounded-tl-[8px]"
            >
              <p
                class="pricing__duration-time group-[&.swiper-slide-active]:text-ui-primary font-bold text-[26px] leading-[33.5px]"
              >
                {{duration}} One year access
              </p>
              <p
                class="pricing__duration-caption -mt-[3px] text-[14px] leading-[21px] group-[&.swiper-slide-active]:text-ui-primary"
              >
                Purchasing this access you get
              </p>
            </div>
          </div>
          <div
            class="pricing__info pb-[30px] rounded-b-[16px] bg-ui-backgroundLanguage pt-[68px] flex flex-col gap-[20px] pl-[28px] pr-[30px] text-[14px] leading-[21px] text-ui-secondary"
          >
            <div class="pricing__info-one flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textOne}} To purchase item by crypto you have to send money to this wallet. After
                5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-two flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textTwo}} To purchase item by crypto you have to send money
              </p>
            </div>
            <div class="pricing__info-three flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textThree}} To purchase item by crypto you have to send money to this wallet.
                After 5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-four flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textFour}} To purchase item by crypto you have to send money
              </p>
            </div>
          </div>
          <div
            class="pricing__footer pr-[7px] group-[&.swiper-slide-active]:bg-transparent bg-ui-backgroundLanguage pt-[15px] flex justify-center items-center gap-[23px]"
          >
            <div
              class="pricing__items pricing__footer-button group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-backgroundLanguage group-[&.swiper-slide-active]:to-ui-backgroundLanguage font-bold py-[15px] px-[51px] text-[18px] leading-[26.5px] rounded-[12px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple"
            >
              <button
                type="button"
                class="text-ui-backgroundLanguage group-[&.swiper-slide-active]:[-webkit-background-clip:text] group-[&.swiper-slide-active]:[-webkit-text-fill-color:transparent] group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-colorBlue group-[&.swiper-slide-active]:to-ui-colorPurple"
              >
                Purchase
              </button>
            </div>

            <p class="pricing__footer-price text-ui-primary text-[22px] leading-[33.5px] font-bold">
              $200.99{{price}}
            </p>
          </div>
        </div>
      </div>
      <div
        class="pricing-slide swiper-slide  max-sm:max-w-full max-lg:place-items-center max-lg:max-w-full max-xl:max-w-[450px] max-w-[350px] group transform"
      >
        <div
          class="pricing__card group-[&.swiper-slide-next]:mt-[36px] group-[&.swiper-slide-prev]:mt-[36px] group-[&.swiper-slide-active]:mt-[42px] group-[&.swiper-slide-active]:before:inset-[-5px] group-[&.swiper-slide-active]:before:rounded-[16px] group-[&.swiper-slide-active]:before:-z-10 relative group-[&.swiper-slide-active]:before:bg-gradient-to-r group-[&.swiper-slide-active]:before:from-ui-backgroundPricingBlue group-[&.swiper-slide-active]:before:to-ui-backgroundPricingPurple group-[&.swiper-slide-active]:before:absolute group-[&.swiper-slide-active]:before:content-[''] bg-ui-backgroundLanguage transform duration-700 group-[&.swiper-slide-active]:-translate-y-[46px] rounded-[12px] max-w-[350px] font-proxima pb-[18px]"
        >
          <div class="pricing__header rounded-t-[16px] bg-ui-backgroundLanguage relative">
            <p
              class="pricing__header-caption top-[0px] left-1/2 -translate-x-1/2 font-bold text-[80px] text-transparent opacity-20 [-webkit-text-stroke:1px_white] font-proxima absolute"
            >
              {{caption}}YEAR
            </p>
            <img
              class="pricing__header-img relative z-10 pt-[24px] pl-[28px]"
              src="../../../img/pricing/image 6 (1).webp"
              alt="crystalWeek"
            />
            <div
              class="crystal__brightness flex absolute blur-[30px] left-[30px] top-[75px] w-[110px] h-[80px] bg-ui-backgroundBiography2"
            ></div>
            <div
              class="pricing__duration pl-[26px] pr-[15px] absolute z-10 -bottom-[41px] right-[0px] h-[80px] w-[275px] py-[14px] text-ui-backgroundLanguage bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple rounded-bl-[8px] rounded-tl-[8px]"
            >
              <p
                class="pricing__duration-time group-[&.swiper-slide-active]:text-ui-primary font-bold text-[26px] leading-[33.5px]"
              >
                {{duration}} One year access
              </p>
              <p
                class="pricing__duration-caption -mt-[3px] text-[14px] leading-[21px] group-[&.swiper-slide-active]:text-ui-primary"
              >
                Purchasing this access you get
              </p>
            </div>
          </div>
          <div
            class="pricing__info pb-[30px] rounded-b-[16px] bg-ui-backgroundLanguage pt-[68px] flex flex-col gap-[20px] pl-[28px] pr-[30px] text-[14px] leading-[21px] text-ui-secondary"
          >
            <div class="pricing__info-one flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textOne}} To purchase item by crypto you have to send money to this wallet. After
                5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-two flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textTwo}} To purchase item by crypto you have to send money
              </p>
            </div>
            <div class="pricing__info-three flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textThree}} To purchase item by crypto you have to send money to this wallet.
                After 5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-four flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textFour}} To purchase item by crypto you have to send money
              </p>
            </div>
          </div>
          <div
            class="pricing__footer pr-[7px] group-[&.swiper-slide-active]:bg-transparent bg-ui-backgroundLanguage pt-[15px] flex justify-center items-center gap-[23px]"
          >
            <div
              class="pricing__items pricing__footer-button group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-backgroundLanguage group-[&.swiper-slide-active]:to-ui-backgroundLanguage font-bold py-[15px] px-[51px] text-[18px] leading-[26.5px] rounded-[12px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple"
            >
              <button
                type="button"
                class="text-ui-backgroundLanguage group-[&.swiper-slide-active]:[-webkit-background-clip:text] group-[&.swiper-slide-active]:[-webkit-text-fill-color:transparent] group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-colorBlue group-[&.swiper-slide-active]:to-ui-colorPurple"
              >
                Purchase
              </button>
            </div>

            <p class="pricing__footer-price text-ui-primary text-[22px] leading-[33.5px] font-bold">
              $200.99{{price}}
            </p>
          </div>
        </div>
      </div>
      <div
        class="pricing-slide swiper-slide  max-sm:max-w-full max-lg:place-items-center max-lg:max-w-full max-xl:max-w-[450px] max-w-[350px] group transform"
      >
        <div
          class="pricing__card group-[&.swiper-slide-next]:mt-[36px] group-[&.swiper-slide-prev]:mt-[36px] group-[&.swiper-slide-active]:mt-[42px] group-[&.swiper-slide-active]:before:inset-[-5px] group-[&.swiper-slide-active]:before:rounded-[16px] group-[&.swiper-slide-active]:before:-z-10 relative group-[&.swiper-slide-active]:before:bg-gradient-to-r group-[&.swiper-slide-active]:before:from-ui-backgroundPricingBlue group-[&.swiper-slide-active]:before:to-ui-backgroundPricingPurple group-[&.swiper-slide-active]:before:absolute group-[&.swiper-slide-active]:before:content-[''] bg-ui-backgroundLanguage transform duration-700 group-[&.swiper-slide-active]:-translate-y-[46px] rounded-[12px] max-w-[350px] font-proxima pb-[18px]"
        >
          <div class="pricing__header rounded-t-[16px] bg-ui-backgroundLanguage relative">
            <p
              class="pricing__header-caption top-[0px] left-1/2 -translate-x-1/2 font-bold text-[80px] text-transparent opacity-20 [-webkit-text-stroke:1px_white] font-proxima absolute"
            >
              {{caption}}YEAR
            </p>
            <img
              class="pricing__header-img relative z-10 pt-[24px] pl-[28px]"
              src="../../../img/pricing/image 6 (1).webp"
              alt="crystalWeek"
            />
            <div
              class="crystal__brightness flex absolute blur-[30px] left-[30px] top-[75px] w-[110px] h-[80px] bg-ui-backgroundBiography2"
            ></div>
            <div
              class="pricing__duration pl-[26px] pr-[15px] absolute z-10 -bottom-[41px] right-[0px] h-[80px] w-[275px] py-[14px] text-ui-backgroundLanguage bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple rounded-bl-[8px] rounded-tl-[8px]"
            >
              <p
                class="pricing__duration-time group-[&.swiper-slide-active]:text-ui-primary font-bold text-[26px] leading-[33.5px]"
              >
                {{duration}} One year access
              </p>
              <p
                class="pricing__duration-caption -mt-[3px] text-[14px] leading-[21px] group-[&.swiper-slide-active]:text-ui-primary"
              >
                Purchasing this access you get
              </p>
            </div>
          </div>
          <div
            class="pricing__info pb-[30px] rounded-b-[16px] bg-ui-backgroundLanguage pt-[68px] flex flex-col gap-[20px] pl-[28px] pr-[30px] text-[14px] leading-[21px] text-ui-secondary"
          >
            <div class="pricing__info-one flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textOne}} To purchase item by crypto you have to send money to this wallet. After
                5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-two flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textTwo}} To purchase item by crypto you have to send money
              </p>
            </div>
            <div class="pricing__info-three flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textThree}} To purchase item by crypto you have to send money to this wallet.
                After 5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-four flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textFour}} To purchase item by crypto you have to send money
              </p>
            </div>
          </div>
          <div
            class="pricing__footer pr-[7px] group-[&.swiper-slide-active]:bg-transparent bg-ui-backgroundLanguage pt-[15px] flex justify-center items-center gap-[23px]"
          >
            <div
              class="pricing__items pricing__footer-button group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-backgroundLanguage group-[&.swiper-slide-active]:to-ui-backgroundLanguage font-bold py-[15px] px-[51px] text-[18px] leading-[26.5px] rounded-[12px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple"
            >
              <button
                type="button"
                class="text-ui-backgroundLanguage group-[&.swiper-slide-active]:[-webkit-background-clip:text] group-[&.swiper-slide-active]:[-webkit-text-fill-color:transparent] group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-colorBlue group-[&.swiper-slide-active]:to-ui-colorPurple"
              >
                Purchase
              </button>
            </div>

            <p class="pricing__footer-price text-ui-primary text-[22px] leading-[33.5px] font-bold">
              $200.99{{price}}
            </p>
          </div>
        </div>
      </div>
      <div
        class="pricing-slide swiper-slide  max-sm:max-w-full max-lg:place-items-center max-lg:max-w-full max-xl:max-w-[450px] max-w-[350px] group transform"
      >
        <div
          class="pricing__card group-[&.swiper-slide-next]:mt-[36px] group-[&.swiper-slide-prev]:mt-[36px] group-[&.swiper-slide-active]:mt-[42px] group-[&.swiper-slide-active]:before:inset-[-5px] group-[&.swiper-slide-active]:before:rounded-[16px] group-[&.swiper-slide-active]:before:-z-10 relative group-[&.swiper-slide-active]:before:bg-gradient-to-r group-[&.swiper-slide-active]:before:from-ui-backgroundPricingBlue group-[&.swiper-slide-active]:before:to-ui-backgroundPricingPurple group-[&.swiper-slide-active]:before:absolute group-[&.swiper-slide-active]:before:content-[''] bg-ui-backgroundLanguage transform duration-700 group-[&.swiper-slide-active]:-translate-y-[46px] rounded-[12px] max-w-[350px] font-proxima pb-[18px]"
        >
          <div class="pricing__header rounded-t-[16px] bg-ui-backgroundLanguage relative">
            <p
              class="pricing__header-caption top-[0px] left-1/2 -translate-x-1/2 font-bold text-[80px] text-transparent opacity-20 [-webkit-text-stroke:1px_white] font-proxima absolute"
            >
              {{caption}}YEAR
            </p>
            <img
              class="pricing__header-img relative z-10 pt-[24px] pl-[28px]"
              src="../../../img/pricing/image 6 (1).webp"
              alt="crystalWeek"
            />
            <div
              class="crystal__brightness flex absolute blur-[30px] left-[30px] top-[75px] w-[110px] h-[80px] bg-ui-backgroundBiography2"
            ></div>
            <div
              class="pricing__duration pl-[26px] pr-[15px] absolute z-10 -bottom-[41px] right-[0px] h-[80px] w-[275px] py-[14px] text-ui-backgroundLanguage bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple rounded-bl-[8px] rounded-tl-[8px]"
            >
              <p
                class="pricing__duration-time group-[&.swiper-slide-active]:text-ui-primary font-bold text-[26px] leading-[33.5px]"
              >
                {{duration}} One year access
              </p>
              <p
                class="pricing__duration-caption -mt-[3px] text-[14px] leading-[21px] group-[&.swiper-slide-active]:text-ui-primary"
              >
                Purchasing this access you get
              </p>
            </div>
          </div>
          <div
            class="pricing__info pb-[30px] rounded-b-[16px] bg-ui-backgroundLanguage pt-[68px] flex flex-col gap-[20px] pl-[28px] pr-[30px] text-[14px] leading-[21px] text-ui-secondary"
          >
            <div class="pricing__info-one flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textOne}} To purchase item by crypto you have to send money to this wallet. After
                5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-two flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textTwo}} To purchase item by crypto you have to send money
              </p>
            </div>
            <div class="pricing__info-three flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textThree}} To purchase item by crypto you have to send money to this wallet.
                After 5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-four flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textFour}} To purchase item by crypto you have to send money
              </p>
            </div>
          </div>
          <div
            class="pricing__footer pr-[7px] group-[&.swiper-slide-active]:bg-transparent bg-ui-backgroundLanguage pt-[15px] flex justify-center items-center gap-[23px]"
          >
            <div
              class="pricing__items pricing__footer-button group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-backgroundLanguage group-[&.swiper-slide-active]:to-ui-backgroundLanguage font-bold py-[15px] px-[51px] text-[18px] leading-[26.5px] rounded-[12px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple"
            >
              <button
                type="button"
                class="text-ui-backgroundLanguage group-[&.swiper-slide-active]:[-webkit-background-clip:text] group-[&.swiper-slide-active]:[-webkit-text-fill-color:transparent] group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-colorBlue group-[&.swiper-slide-active]:to-ui-colorPurple"
              >
                Purchase
              </button>
            </div>

            <p class="pricing__footer-price text-ui-primary text-[22px] leading-[33.5px] font-bold">
              $200.99{{price}}
            </p>
          </div>
        </div>
      </div>
      <div
        class="pricing-slide swiper-slide  max-sm:max-w-full max-lg:place-items-center max-lg:max-w-full max-xl:max-w-[450px] max-w-[350px] group transform"
      >
        <div
          class="pricing__card group-[&.swiper-slide-next]:mt-[36px] group-[&.swiper-slide-prev]:mt-[36px] group-[&.swiper-slide-active]:mt-[42px] group-[&.swiper-slide-active]:before:inset-[-5px] group-[&.swiper-slide-active]:before:rounded-[16px] group-[&.swiper-slide-active]:before:-z-10 relative group-[&.swiper-slide-active]:before:bg-gradient-to-r group-[&.swiper-slide-active]:before:from-ui-backgroundPricingBlue group-[&.swiper-slide-active]:before:to-ui-backgroundPricingPurple group-[&.swiper-slide-active]:before:absolute group-[&.swiper-slide-active]:before:content-[''] bg-ui-backgroundLanguage transform duration-700 group-[&.swiper-slide-active]:-translate-y-[46px] rounded-[12px] max-w-[350px] font-proxima pb-[18px]"
        >
          <div class="pricing__header rounded-t-[16px] bg-ui-backgroundLanguage relative">
            <p
              class="pricing__header-caption top-[0px] left-1/2 -translate-x-1/2 font-bold text-[80px] text-transparent opacity-20 [-webkit-text-stroke:1px_white] font-proxima absolute"
            >
              {{caption}}YEAR
            </p>
            <img
              class="pricing__header-img relative z-10 pt-[24px] pl-[28px]"
              src="../../../img/pricing/image 6 (1).webp"
              alt="crystalWeek"
            />
            <div
              class="crystal__brightness flex absolute blur-[30px] left-[30px] top-[75px] w-[110px] h-[80px] bg-ui-backgroundBiography2"
            ></div>
            <div
              class="pricing__duration pl-[26px] pr-[15px] absolute z-10 -bottom-[41px] right-[0px] h-[80px] w-[275px] py-[14px] text-ui-backgroundLanguage bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple rounded-bl-[8px] rounded-tl-[8px]"
            >
              <p
                class="pricing__duration-time group-[&.swiper-slide-active]:text-ui-primary font-bold text-[26px] leading-[33.5px]"
              >
                {{duration}} One year access
              </p>
              <p
                class="pricing__duration-caption -mt-[3px] text-[14px] leading-[21px] group-[&.swiper-slide-active]:text-ui-primary"
              >
                Purchasing this access you get
              </p>
            </div>
          </div>
          <div
            class="pricing__info pb-[30px] rounded-b-[16px] bg-ui-backgroundLanguage pt-[68px] flex flex-col gap-[20px] pl-[28px] pr-[30px] text-[14px] leading-[21px] text-ui-secondary"
          >
            <div class="pricing__info-one flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textOne}} To purchase item by crypto you have to send money to this wallet. After
                5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-two flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textTwo}} To purchase item by crypto you have to send money
              </p>
            </div>
            <div class="pricing__info-three flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textThree}} To purchase item by crypto you have to send money to this wallet.
                After 5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-four flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textFour}} To purchase item by crypto you have to send money
              </p>
            </div>
          </div>
          <div
            class="pricing__footer pr-[7px] group-[&.swiper-slide-active]:bg-transparent bg-ui-backgroundLanguage pt-[15px] flex justify-center items-center gap-[23px]"
          >
            <div
              class="pricing__items pricing__footer-button group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-backgroundLanguage group-[&.swiper-slide-active]:to-ui-backgroundLanguage font-bold py-[15px] px-[51px] text-[18px] leading-[26.5px] rounded-[12px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple"
            >
              <button
                type="button"
                class="text-ui-backgroundLanguage group-[&.swiper-slide-active]:[-webkit-background-clip:text] group-[&.swiper-slide-active]:[-webkit-text-fill-color:transparent] group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-colorBlue group-[&.swiper-slide-active]:to-ui-colorPurple"
              >
                Purchase
              </button>
            </div>

            <p class="pricing__footer-price text-ui-primary text-[22px] leading-[33.5px] font-bold">
              $200.99{{price}}
            </p>
          </div>
        </div>
      </div>
      <div
        class="pricing-slide swiper-slide  max-sm:max-w-full max-lg:place-items-center max-lg:max-w-full max-xl:max-w-[450px] max-w-[350px] group transform"
      >
        <div
          class="pricing__card group-[&.swiper-slide-next]:mt-[36px] group-[&.swiper-slide-prev]:mt-[36px] group-[&.swiper-slide-active]:mt-[42px] group-[&.swiper-slide-active]:before:inset-[-5px] group-[&.swiper-slide-active]:before:rounded-[16px] group-[&.swiper-slide-active]:before:-z-10 relative group-[&.swiper-slide-active]:before:bg-gradient-to-r group-[&.swiper-slide-active]:before:from-ui-backgroundPricingBlue group-[&.swiper-slide-active]:before:to-ui-backgroundPricingPurple group-[&.swiper-slide-active]:before:absolute group-[&.swiper-slide-active]:before:content-[''] bg-ui-backgroundLanguage transform duration-700 group-[&.swiper-slide-active]:-translate-y-[46px] rounded-[12px] max-w-[350px] font-proxima pb-[18px]"
        >
          <div class="pricing__header rounded-t-[16px] bg-ui-backgroundLanguage relative">
            <p
              class="pricing__header-caption top-[0px] left-1/2 -translate-x-1/2 font-bold text-[80px] text-transparent opacity-20 [-webkit-text-stroke:1px_white] font-proxima absolute"
            >
              {{caption}}YEAR
            </p>
            <img
              class="pricing__header-img relative z-10 pt-[24px] pl-[28px]"
              src="../../../img/pricing/image 6 (1).webp"
              alt="crystalWeek"
            />
            <div
              class="crystal__brightness flex absolute blur-[30px] left-[30px] top-[75px] w-[110px] h-[80px] bg-ui-backgroundBiography2"
            ></div>
            <div
              class="pricing__duration pl-[26px] pr-[15px] absolute z-10 -bottom-[41px] right-[0px] h-[80px] w-[275px] py-[14px] text-ui-backgroundLanguage bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple rounded-bl-[8px] rounded-tl-[8px]"
            >
              <p
                class="pricing__duration-time group-[&.swiper-slide-active]:text-ui-primary font-bold text-[26px] leading-[33.5px]"
              >
                {{duration}} One year access
              </p>
              <p
                class="pricing__duration-caption -mt-[3px] text-[14px] leading-[21px] group-[&.swiper-slide-active]:text-ui-primary"
              >
                Purchasing this access you get
              </p>
            </div>
          </div>
          <div
            class="pricing__info pb-[30px] rounded-b-[16px] bg-ui-backgroundLanguage pt-[68px] flex flex-col gap-[20px] pl-[28px] pr-[30px] text-[14px] leading-[21px] text-ui-secondary"
          >
            <div class="pricing__info-one flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textOne}} To purchase item by crypto you have to send money to this wallet. After
                5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-two flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textTwo}} To purchase item by crypto you have to send money
              </p>
            </div>
            <div class="pricing__info-three flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textThree}} To purchase item by crypto you have to send money to this wallet.
                After 5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-four flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textFour}} To purchase item by crypto you have to send money
              </p>
            </div>
          </div>
          <div
            class="pricing__footer pr-[7px] group-[&.swiper-slide-active]:bg-transparent bg-ui-backgroundLanguage pt-[15px] flex justify-center items-center gap-[23px]"
          >
            <div
              class="pricing__items pricing__footer-button group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-backgroundLanguage group-[&.swiper-slide-active]:to-ui-backgroundLanguage font-bold py-[15px] px-[51px] text-[18px] leading-[26.5px] rounded-[12px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple"
            >
              <button
                type="button"
                class="text-ui-backgroundLanguage group-[&.swiper-slide-active]:[-webkit-background-clip:text] group-[&.swiper-slide-active]:[-webkit-text-fill-color:transparent] group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-colorBlue group-[&.swiper-slide-active]:to-ui-colorPurple"
              >
                Purchase
              </button>
            </div>

            <p class="pricing__footer-price text-ui-primary text-[22px] leading-[33.5px] font-bold">
              $200.99{{price}}
            </p>
          </div>
        </div>
      </div>
      <div
        class="pricing-slide swiper-slide  max-sm:max-w-full max-lg:place-items-center max-lg:max-w-full max-xl:max-w-[450px] max-w-[350px] group transform"
      >
        <div
          class="pricing__card group-[&.swiper-slide-next]:mt-[36px] group-[&.swiper-slide-prev]:mt-[36px] group-[&.swiper-slide-active]:mt-[42px] group-[&.swiper-slide-active]:before:inset-[-5px] group-[&.swiper-slide-active]:before:rounded-[16px] group-[&.swiper-slide-active]:before:-z-10 relative group-[&.swiper-slide-active]:before:bg-gradient-to-r group-[&.swiper-slide-active]:before:from-ui-backgroundPricingBlue group-[&.swiper-slide-active]:before:to-ui-backgroundPricingPurple group-[&.swiper-slide-active]:before:absolute group-[&.swiper-slide-active]:before:content-[''] bg-ui-backgroundLanguage transform duration-700 group-[&.swiper-slide-active]:-translate-y-[46px] rounded-[12px] max-w-[350px] font-proxima pb-[18px]"
        >
          <div class="pricing__header rounded-t-[16px] bg-ui-backgroundLanguage relative">
            <p
              class="pricing__header-caption top-[0px] left-1/2 -translate-x-1/2 font-bold text-[80px] text-transparent opacity-20 [-webkit-text-stroke:1px_white] font-proxima absolute"
            >
              {{caption}}YEAR
            </p>
            <img
              class="pricing__header-img relative z-10 pt-[24px] pl-[28px]"
              src="../../../img/pricing/image 6 (1).webp"
              alt="crystalWeek"
            />
            <div
              class="crystal__brightness flex absolute blur-[30px] left-[30px] top-[75px] w-[110px] h-[80px] bg-ui-backgroundBiography2"
            ></div>
            <div
              class="pricing__duration pl-[26px] pr-[15px] absolute z-10 -bottom-[41px] right-[0px] h-[80px] w-[275px] py-[14px] text-ui-backgroundLanguage bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple rounded-bl-[8px] rounded-tl-[8px]"
            >
              <p
                class="pricing__duration-time group-[&.swiper-slide-active]:text-ui-primary font-bold text-[26px] leading-[33.5px]"
              >
                {{duration}} One year access
              </p>
              <p
                class="pricing__duration-caption -mt-[3px] text-[14px] leading-[21px] group-[&.swiper-slide-active]:text-ui-primary"
              >
                Purchasing this access you get
              </p>
            </div>
          </div>
          <div
            class="pricing__info pb-[30px] rounded-b-[16px] bg-ui-backgroundLanguage pt-[68px] flex flex-col gap-[20px] pl-[28px] pr-[30px] text-[14px] leading-[21px] text-ui-secondary"
          >
            <div class="pricing__info-one flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textOne}} To purchase item by crypto you have to send money to this wallet. After
                5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-two flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textTwo}} To purchase item by crypto you have to send money
              </p>
            </div>
            <div class="pricing__info-three flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textThree}} To purchase item by crypto you have to send money to this wallet.
                After 5 minute result will sent in your mail
              </p>
            </div>
            <div class="pricing__info-four flex items-center gap-[16px]">
              <svg
                class="icon pricing__crystal min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px]"
              >
                <use href="#icon-crystal"></use>
              </svg>
              <p class="pricing__info-text max-w-[235px]">
                {{textFour}} To purchase item by crypto you have to send money
              </p>
            </div>
          </div>
          <div
            class="pricing__footer pr-[7px] group-[&.swiper-slide-active]:bg-transparent bg-ui-backgroundLanguage pt-[15px] flex justify-center items-center gap-[23px]"
          >
            <div
              class="pricing__items pricing__footer-button group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-backgroundLanguage group-[&.swiper-slide-active]:to-ui-backgroundLanguage font-bold py-[15px] px-[51px] text-[18px] leading-[26.5px] rounded-[12px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple"
            >
              <button
                type="button"
                class="text-ui-backgroundLanguage group-[&.swiper-slide-active]:[-webkit-background-clip:text] group-[&.swiper-slide-active]:[-webkit-text-fill-color:transparent] group-[&.swiper-slide-active]:bg-gradient-to-r group-[&.swiper-slide-active]:from-ui-colorBlue group-[&.swiper-slide-active]:to-ui-colorPurple"
              >
                Purchase
              </button>
            </div>

            <p class="pricing__footer-price text-ui-primary text-[22px] leading-[33.5px] font-bold">
              $200.99{{price}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
