@use '../../base/variables' as *;

.biography__caption--mob,
.biography__title--mob {
  display: none;
}

.biography__column {
  color: $primary;
}

.biography__background {
  background: linear-gradient(90deg, rgba($colorBlue, 1), rgba($colorPurple, 1));
}

.biography__caption,
.biography__caption--mob {
  background: linear-gradient(90deg, rgba($colorBlue, 1), rgba($colorPurple, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.biography__info-years {
  color: $green;
  background: rgba($green, 0.1);
}
.biography__column-bright {
  background: linear-gradient(rgba($backgroundBiography, 1), rgba($backgroundFigureMob, 1));
}
.biography__column-bright--second {
  background: rgba($backgroundBiographySecond, 1);
}
.biography__column-bright--third {
  background: rgba($primary, 1);
  z-index: 5;
}

@media (max-width: 1370px) {
  .biography__container {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }
  .biography__caption,
  .biography__title {
    display: none;
  }
  .biography__caption--mob,
  .biography__title--mob {
    display: flex;
  }
}

@media (max-width: 1000px) {
  .biography__container {
    padding-inline: 20px;
  }
  .biography__background {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 450px;
  }
  .biography__hero {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 440px;
  }
  .biography__column-bright {
    max-width: 400px;
  }
  .icon__smallstars-bio,
  .icon__circle-bio {
    display: none;
  }
}

@media (max-width: 600px) {
  .biography__background {
    width: 255px;
    height: 336px;
    left: 42%;
    transform: translate(-50%) rotate(-4deg);
  }
  .biography__hero {
    width: 254px;
    height: 326px;
    left: 50%;
    transform: translate(-50%) rotate(3deg);
    top: 12px;
    border-radius: 24px;
  }
  .biography__text {
    max-width: 345px;
    line-height: 24px;
    font-size: 15px;
  }
  .biography__column-second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .biography__caption--mob {
    font-size: 14px;
    width: 100%;
    padding-inline-start: 50px;
  }
  .biography__title--mob {
    font-size: 26px;
    line-height: 34px;
    width: 100%;
    max-width: 100%;
    padding-inline-start: 50px;
  }

  .biography__container {
    margin-block-start: 60px;
    align-items: center;
    justify-content: center;
    padding-inline: 15px;
    margin-block-end: 6px;
  }
  .biography__column-first {
    width: 100%;
    text-align: center;
  }
  .biography__column-bright {
    max-width: 100px;
    left: inherit;
    height: 200px;
    right: -10px;
  }
  .biography__column-bright--second {
    bottom: -50px;
    left: inherit;
    width: 200px;
    right: 60px;
    opacity: 0.3;
  }
  .biography__column-bright {
    top: 60px;
    height: 340px;
    max-width: 320px;
    background: rgba($backgroundFigureMob, 1);
    filter: blur(60px);
  }
  .biography__column-bright--third {
    left: inherit;
    right: 0;
    top: 100px;
    height: 200px;
    background: rgba($primary, 1);
  }
}

@media (max-width: 400px) {
  .biography__container {
    gap: 23px;
  }
  .biography__title--mob,
  .biography__caption--mob {
    padding: inherit;
  }
  .biography__title--mob {
    margin-block-start: 0px;
    margin-block-end: 27px;
  }

  .biography__footer {
    gap: 23px;
    margin-inline-end: 0px;
    margin-block-start: 34px;
    margin-inline-start: -58px;
  }
  .biography__info-text {
    width: 131px;
    font-size: 14px;
    line-height: 24px;
  }
  .biography__info-years {
    height: 29px;
    padding-block-start: 3px;
    padding-inline-start: 13px;
    margin-block-end: 12px;
  }
  .biography__info--none {
    display: none;
  }
}
@media (max-width: 360px) {
  .biography__footer {
    margin-inline-start: 0px;
  }
}
