@use '../../base/variables' as *;

.contact__check-text {
  color: $primary;
  span {
    color: $backgroundFigure2;
  }
}
.contact__check-text {
  span {
    text-decoration: underline;
    font-weight: 600;
    margin-inline-start: 8px;
    letter-spacing: -0.1px;
    margin-inline-end: 9px;
  }
}
.contact__button {
  background: linear-gradient(90deg, rgba($colorBlue, 1), rgba($colorPurple, 1));
}
.contact__header-caption {
  background: linear-gradient(90deg, rgba($colorBlue, 1), rgba($colorPurple, 1));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.contact__header-title {
  color: $primary;
}
.contact__form {
  label {
    color: $secondary;
  }
  input,
  textarea {
    background: $backgroundLanguage;
    color: $primary;
  }
}

@media (max-width: 900px) {
  .contact__cube {
    display: none;
  }
  .contact__main {
    padding-inline: 15px;
  }
}
@media (max-width: 600px) {

  .contact__blue {
    width: 95px;
    height: 95px;
    top: 3px;
    left: inherit;
    right: -30px;
    filter: blur(2px);
  }
  .contact__header-caption {
    font-size: 14px;
    line-height: 26.5px;
    letter-spacing: 1.4px;
    margin-inline-start: 0px;
  }
  .contact__header-title {
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    max-width: 100%;
    margin-block-start: -1px;
  }

  .contact__container {
    overflow: hidden;
    padding-block-start: 34px;
  }
  .contact__main {
    margin-block-start: 0px;
  }
  .contact__form {
    input {
      padding-block-end: 3px;
      padding-inline-start: 31px;
    }
    label {
      margin-inline-start: -1px;
    }
  }
  .contact__question {
    padding-inline-start: 31px;
  }
  .contact__purple {
    display: none;
  }
  .contact__purple--small {
    display: flex;
  }
  .contact__button {
    width: 100%;
    padding-inline: 0px;
  }
  .contact__check-input {
    max-width: 20px;
    padding-inline-start: 0px !important;
  }
  .contact__check {
    margin-block-start: 5px;
    gap: 9px;
  }
  @media (max-width: 376px) {
    .contact__main {
      width: 344px;
    }
    .contact__container {
      justify-content: center;
    }
    .contact__header-title {
      max-width: 306px;
      text-align: start !important;
    }
    .contact__header {
      align-items: start;
      padding-inline: 0px;
    }
    .contact__main {
      padding-inline: 0px;
    }
  }
}
@media (max-width: 370px) {
  .contact__header {
    align-items: center;
  }
  .contact__header-title {
    text-align: center !important;
  }
  .contact__container {
    padding-inline: 0px;
  }
  .getpremium__title {
    white-space: wrap;
  }
  .contact__main {
    width: inherit;
  }
  .contact__main {
    max-width: 370px;
    padding-inline: 10px;
  }
  .contact__button {
    padding-inline: 80px;
  }
  .contact__check-text {
    max-width: 190px;
    span {
      margin: 0;
    }
  }
  .contact__check {
    gap: 50px;
    justify-content: center;
  }
  .biography__container {
    padding-inline-start: 30px;
  }
}
