@use '../../base/variables' as *;
.getpremium__background {
  background: linear-gradient(
    (
      90deg,
      rgba($backgroundPremiumBlue, 1),
      rgba($backgroundPremiumBlue2, 1),
      rgba($backgroundPremiumPurple, 1)
    )
  );
}
.getpremium__container {
  color: $primary;
}
.getpremium__items {
  background-color: $backgroundBody;
}
.getpremium__link {
  background: linear-gradient(90deg, $colorBlue, $colorPurple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.getpremium___column-decor {
  background: linear-gradient(
    7deg,
    $backgroundPremiumPurple,
    rgba(255, 255, 255, 0.418),
    $backgroundPremiumPurple
  );
  -webkit-mask: radial-gradient(circle, transparent 192px, #000 64px);
  mask: radial-gradient(circle, transparent 192px, #000000 64px);
}
@media (max-width: 1370px) {
  .getpremium__background {
    flex-direction: column;
    height: 514px;
  }
  .getpremium___column-decor {
    left: 50%;
    transform: translate(-50%);
    top: 0;
    width: 399px;
    height: 399px;
    background: linear-gradient(
      20deg,
      $backgroundPremiumPurple,
      rgba(255, 255, 255, 0.418),
      $backgroundPremiumPurple
    );
    -webkit-mask: radial-gradient(circle, transparent 145px, #000 64px);
    mask: radial-gradient(circle, transparent 145px, #000000 64px);
  }
  .getpremium__figure-green {
    top: -20px;
    width: 207px;
    height: 149px;
    left: 50%;
    transform: translate(-50%) rotate(-8deg);
  }
  .getpremium__figure-purple {
    width: 147px;
    height: 95px;
    transform: rotate(40deg);
    left: -50px;
    bottom: 0;
  }
  .getpremium__figure-pink {
    width: 133px;
    height: 93px;
    right: -30px;
  }
}

@media (max-width: 1000px) {
  .getpremium__background {
    gap: 27px;
  }
  .getpremium__crown {
    width: 24px;
    height: 24px;
  }
  .getpremium__title {
    font-size: 26px;
    line-height: 34px;
  }
  .getpremium__text {
    font-size: 15px;
    line-height: 24px;
  }
  .getpremium__items {
    padding-block: 12px;
    padding-inline: 10px;
    justify-content: center;
    width: 135px;
    height: 52px;
    padding-block-start: 14px;
  }
  .getpremium__link {
    font-size: 15px;
  }
  .getpremium___column--first {
    margin-block-start: 32px;
  }
  .getpremium__container {
    padding-inline: 15px;
  }
  .getpremium__decor-mob--second {
    z-index: -5;
  }
}
@media (max-width: 600px) {
  .getpremium__container {
    margin-block-start: 30px;
  }
  .getpremium___column--first {
    margin-inline-start: 0px;
    width: 100%;
    max-width: 100%;
    padding-inline: 26px;
    gap: 3px;
  }
  .getpremium__title {
    margin-block-start: 2px;
  }
  .getpremium__text {
    margin-block-start: 5px;
  }
  .getpremium__items {
    margin-block-start: 20px;
    border-radius: 12px;
  }
  .getpremium__link {
    padding-block-start: 2px;
  }
  .getpremium___column-decor {
    top: 40px;
    background: linear-gradient(
      60deg,
      $backgroundPremiumPurple,
      rgba(255, 255, 255, 0.418),
      $backgroundPremiumPurple
    );
    -webkit-mask: radial-gradient(circle, transparent 152px, #000 64px);
    mask: radial-gradient(circle, transparent 152px, #000000 64px);
  }

  .getpremium__figure-green {
    top: -14px;
    width: 230px;
    height: 180px;
    left: 50%;
    transform: translate(-50%) rotate(-8deg);
  }
  .getpremium__figure-purple {
    bottom: 10px;
    left: -62px;
    height: 102px;
  }
  .getpremium__figure-pink {
    width: 135px;
    height: 93px;
    right: -25px;
    height: 120px;
  }
  .getpremium__decor-mob {
    background-color: $backgroundFigureMob;
  }
  .getpremium__container {
    position: relative;
  }
  .getpremium__decor-mob--second {
    background-color: $backgroundBiography2;
  }
}

@media (max-width: 340px) {
  .getpremium__figure-pink,
  .getpremium__figure-purple {
    width: 100px;
  }
}
