<div id="burger" data-component="burger">
  <svg class="icon premium__icon w-[15px] h-[12px]">
    <use href="#icon-premium"></use>
  </svg>
  <svg class="icon burger__icon w-[14px] h-[12px]">
    <use href="#icon-menu"></use>
  </svg>
  <div class="burger__menu">
    <ul class="nav__list">
      <li class="nav__items">
        <a href="/index.html" class="nav__link">Main page</a>
      </li>
      <li class="nav__items">
        <a href="" class="nav__link nft__link-lock">
          <svg class="icon icon-lock">
            <use href="#icon-lock"></use>
          </svg>
          NFT
        </a>
      </li>
      <li class="nav__items"><a href="/html/pages/arts.html" class="nav__link">Pictures</a></li>
      <li class="nav__items"><a href="" class="nav__link">Auction</a></li>
      <li class="nav__items"><a href="" class="nav__link">Pricing</a></li>
      <li class="nav__items"><a href="" class="nav__link">Contacts</a></li>
      <li class="nav__items"><a href="" class="nav__link">Blog</a></li>
      <div class="dropdown dropdown-language">
        <button
          class="btn btn-language btn-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-i18n="header.lang.current"
        >
          ENG
        </button>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item dropdown-language-item" data-language="en" href="#">ENG</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item dropdown-language-item" data-language="uk" href="#">UA</a>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</div>
