<footer
  class="footer [.wrapper-auction_&]:max-sm:mt-[32px] [.wrapper-auction_&]:mt-[55px] max-sm:pl-[23px] z-20 relative max-sm:pr-[15px] max-sm:pb-[25px] max-lg:px-[20px] max-lg:mt-[32px] bg-ui-backgroundCardHomeNft pt-[10px] mt-[92px] pl-[158px] pr-[165px] font-proxima"
>
  <div class="footer__body [.wrapper-auction_&]:max-sm:ml-[0px] [.wrapper-auction_&]:ml-[2px] max-lg:mt-[18px] flex gap-[20px] items-center justify-between">
    <div class="footer__logo flex items-center">
      <svg class="icon footer__logo-icon max-lg:mt-[1px] max-lg:h-[30px] w-[145px] h-[46px]">
        <use href="#icon-logo"></use>
      </svg>
      <p
        class="footer__privacy max-sm:hidden text-ui-secondary opacity-60 text-[16px] mt-[7px] ml-[21px] leading-[21px]"
        data-i18n="footer.privacy"
      ></p>
      <p
        class="footer__terms max-sm:hidden text-ui-secondary opacity-60 text-[16px] mt-[7px] leading-[21px] ml-[30px]"
        data-i18n="footer.terms"
      ></p>
    </div>
    <div class="footer__social max-sm:mt-[2px] mt-[7px] flex items-center gap-[18px]">
      <a class="mainhero__inst rounded-md" href="">
        <svg class="icon mainhero__icon w-6 h-6">
          <use href="#icon-insta"></use>
        </svg>
      </a>

      <a class="mainhero__twit rounded-md" href="">
        <svg class="icon w-6 h-6">
          <use href="#icon-twit"></use>
        </svg>
      </a>
      <a class="mainhero__teleg rounded-md" href="">
        <svg class="icon w-6 h-6">
          <use href="#icon-teleg"></use>
        </svg>
      </a>
      <a class="mainhero__pint rounded-md" href="">
        <svg class="icon w-6 h-6">
          <use href="#icon-pint"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="footer__mob max-sm:flex max-sm:text-ui-secondary hidden flex-col mt-[23px]">
    <p
      class="footer__privacy--mob relative before:content-[''] before:absolute before:w-[100%] before:h-[1px] before:opacity-10 before:bg-white before:-bottom-[16px] before:left-0 text-[16px] mt-[7px] -ml-[8px] leading-[21px]"
      data-i18n="footer.privacy"
    ></p>
    <p
      class="footer__terms--mob text-[16px] mt-[31px] leading-[21px] -ml-[8px]"
      data-i18n="footer.terms"
    ></p>
  </div>

  <div
    class="footer__reserved max-sm:before:hidden max-sm:py-[13.5px] max-sm:mr-0 max-sm:mt-[22px] max-sm:bg-ui-backgroundBody max-sm:rounded-[8px] max-sm:-ml-[8px] mr-[20px] relative pt-[22px] pb-[9px] flex justify-center items-center before:content-[''] before:absolute before:w-[101.8%] before:h-[0.5px] before:-left-[5px] before:top-[11px] before:bg-white before:opacity-10"
  >
    <p
      class="footer__reserved__text max-sm:text-[14px] max-sm:leading-[21px] max-sm:ml-0 text-ui-secondary ml-[26px] text-[12px] leading-[20px]"
      data-i18n="footer.rights"
    >
      All rights reserved © 2022
    </p>
  </div>
</footer>
