<div class="skeleton pt-[86px]" data-component="skeleton">
  <div
    class="skeleton__decor max-sm:hidden bg-ui-backgroundFigure absolute w-[320px] h-[500px] left-[40%] blur-[100px]"
  ></div>
  <div
    class="skeleton__decor-2 max-sm:hidden bg-ui-backgroundFigureMob absolute w-[320px] h-[500px] left-[40%] blur-[160px] opacity-80"
  ></div>
  <div
    class="skeleton__container max-lg:justify-center  flex items-center py-[50px] justify-between px-[50px] gap-[30px] relative z-50"
  ></div>
</div>
