<div class="cardsblog__container relative z-10 -top-[160px]" data-component="containerBlog">
  <div class="cardsblog-swiper swiper swiperBlogCard">
    <div class="cardsblog-wrapper swiper-wrapper flex justify-center gap-[30px]">
      <div class="cardblog-slide swiper-slide">
        <div
          class="cardblog-card pb-[22px] bg-ui-backgroundLanguage rounded-[12px] max-w-[350px] max-h-[350px]"
        >
          <img
            src="/img/blog/bgCard1.webp"
            alt="bg"
            class="cardblog__card-backgroung rounded-t-[12px]"
          />
          <div class="cardblog__user px-[21px] flex items-center justify-between">
            <img
              src="/img/blog/avatar.webp"
              alt="avatar"
              class="cardblog__user-avatar -mt-[45px]"
            />
            <p
              class="cardblog__user-data mt-[8px] text-ui-secondary font-manrope text-[14px] leading-[19px]"
            >
              12/09/2021
            </p>
          </div>
          <p
            class="cardblog__user-name -tracking-[0.3px] pl-[28px] pr-[15px] mt-[14px] font-manrope text-[14px] leading-[19px] text-ui-secondary"
          >
            Ivan Ivanov
          </p>
          <h3
            class="cardblog__user-question -mt-[1px] pl-[28px] pr-[15px] font-bold font-proxima text-[20px] leading-[30px] text-ui-primary"
          >
            How can i Buy any art by crypto?
          </h3>
          <div
            class="cardblog__items mt-[5px] pl-[28px] pr-[73px] flex items-center justify-between"
          >
            <div
              class="cardblog__item-view active:scale-100 hover:scale-110 bg-ui-secondary/10 rounded-[10px]"
            >
              <p
                class="cardblog__item-view cursor-pointer py-[10px] pl-[21px] pr-[15px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] font-bold text-[14px] leading-[20px] font-proxima"
              >
                View answers (23)
              </p>
            </div>

            <div
              class="cardblog__item-answer cursor-pointer active:scale-100 hover:scale-110 flex items-center gap-[8px]"
            >
              <svg class="icon blog__answer w-[20px] h-[20px]">
                <use href="#icon-bloganswer"></use>
              </svg>
              <p class="font-proxima text-[14px] leading-[20px] font-bold text-[#C5FF98]">Answer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cardblog-slide swiper-slide">
        <div
          class="cardblog-card pb-[22px] bg-ui-backgroundLanguage rounded-[12px] max-w-[350px] max-h-[350px]"
        >
          <img
            src="/img/blog/bgCard1.webp"
            alt="bg"
            class="cardblog__card-backgroung rounded-t-[12px]"
          />
          <div class="cardblog__user px-[21px] flex items-center justify-between">
            <img
              src="/img/blog/avatar.webp"
              alt="avatar"
              class="cardblog__user-avatar -mt-[45px]"
            />
            <p
              class="cardblog__user-data mt-[8px] text-ui-secondary font-manrope text-[14px] leading-[19px]"
            >
              12/09/2021
            </p>
          </div>
          <p
            class="cardblog__user-name -tracking-[0.3px] pl-[28px] pr-[15px] mt-[14px] font-manrope text-[14px] leading-[19px] text-ui-secondary"
          >
            Ivan Ivanov
          </p>
          <h3
            class="cardblog__user-question -mt-[1px] pl-[28px] pr-[15px] font-bold font-proxima text-[20px] leading-[30px] text-ui-primary"
          >
            How can i Buy any art by crypto?
          </h3>
          <div
            class="cardblog__items mt-[5px] pl-[28px] pr-[73px] flex items-center justify-between"
          >
            <div
              class="cardblog__item-view active:scale-100 hover:scale-110 bg-ui-secondary/10 rounded-[10px]"
            >
              <p
                class="cardblog__item-view cursor-pointer py-[10px] pl-[21px] pr-[15px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] font-bold text-[14px] leading-[20px] font-proxima"
              >
                View answers (23)
              </p>
            </div>

            <div
              class="cardblog__item-answer cursor-pointer active:scale-100 hover:scale-110 flex items-center gap-[8px]"
            >
              <svg class="icon blog__answer w-[20px] h-[20px]">
                <use href="#icon-bloganswer"></use>
              </svg>
              <p class="font-proxima text-[14px] leading-[20px] font-bold text-[#C5FF98]">Answer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cardblog-slide swiper-slide">
        <div
          class="cardblog-card pb-[22px] bg-ui-backgroundLanguage rounded-[12px] max-w-[350px] max-h-[350px]"
        >
          <img
            src="/img/blog/bgCard1.webp"
            alt="bg"
            class="cardblog__card-backgroung rounded-t-[12px]"
          />
          <div class="cardblog__user px-[21px] flex items-center justify-between">
            <img
              src="/img/blog/avatar.webp"
              alt="avatar"
              class="cardblog__user-avatar -mt-[45px]"
            />
            <p
              class="cardblog__user-data mt-[8px] text-ui-secondary font-manrope text-[14px] leading-[19px]"
            >
              12/09/2021
            </p>
          </div>
          <p
            class="cardblog__user-name -tracking-[0.3px] pl-[28px] pr-[15px] mt-[14px] font-manrope text-[14px] leading-[19px] text-ui-secondary"
          >
            Ivan Ivanov
          </p>
          <h3
            class="cardblog__user-question -mt-[1px] pl-[28px] pr-[15px] font-bold font-proxima text-[20px] leading-[30px] text-ui-primary"
          >
            How can i Buy any art by crypto?
          </h3>
          <div
            class="cardblog__items mt-[5px] pl-[28px] pr-[73px] flex items-center justify-between"
          >
            <div
              class="cardblog__item-view active:scale-100 hover:scale-110 bg-ui-secondary/10 rounded-[10px]"
            >
              <p
                class="cardblog__item-view cursor-pointer py-[10px] pl-[21px] pr-[15px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] font-bold text-[14px] leading-[20px] font-proxima"
              >
                View answers (23)
              </p>
            </div>

            <div
              class="cardblog__item-answer cursor-pointer active:scale-100 hover:scale-110 flex items-center gap-[8px]"
            >
              <svg class="icon blog__answer w-[20px] h-[20px]">
                <use href="#icon-bloganswer"></use>
              </svg>
              <p class="font-proxima text-[14px] leading-[20px] font-bold text-[#C5FF98]">Answer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="forum__container flex gap-[30px] mt-[56px] pl-[165px] pr-[150px]">
    <div class="forum__questions flex-1 max-w-[730px]">
      <div
        class="forum__search border-[1px] border-ui-primary/50 relative bg-ui-backgroundLanguage rounded-[12px] flex items-center justify-between"
      >
        <input
          type="text"
          class="search outline-none border-none placeholder:-indent-[1px] -tracking-[0.3px] w-full pl-[60px] bg-ui-backgroundLanguage rounded-[12px] py-[22.5px] text-[14px] leading-[19px] text-ui-secondary font-manrope"
          id="search"
          placeholder="Search"
        />
        <svg class="icon blog__search absolute left-[23px] w-[24px] h-[24px]">
          <use href="#icon-search"></use>
        </svg>
        <div class="search__item mr-[11px] max-w-[88px] bg-ui-secondary/10 rounded-[12px]">
          <p
            class="search__button cursor-pointer font-bold font-proxima text-[14px] leading-[20px] py-[14px] px-[22px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
          >
            Search
          </p>
        </div>
      </div>
      <div class="question__wrapper flex flex-col gap-[0px]">
        <div
          class="forum__question pb-[30px] pt-[18px] mt-[16px] pl-[22px] pr-[39px] bg-ui-backgroundLanguage rounded-[12px] h-auto"
        >
          <div class="forum__question-header flex items-center justify-between">
            <div class="question__user flex items-center gap-[16px] mt-[0px]">
              <div class="question__navigate">
                <svg
                  class="icon blog__navigate-top active:scale-100 hover:scale-[1.1] text-ui-primary/10 transition-all ease-in-out duration-300 hover:text-ui-backgroundFigure2 rotate-[180deg] w-[16px] h-[20px] cursor-pointer"
                >
                  <use href="#icon-arrowBlog"></use>
                </svg>
                <p
                  class="question__navigate-count mt-[2px] text-[14px] leading-[19px] font-manrope text-ui-secondary"
                >
                  12
                </p>
                <svg
                  class="icon blog__navigate-down mt-[4px] active:scale-100 hover:scale-[1.1] text-ui-primary/10 transition-all ease-in-out duration-300 hover:text-ui-backgroundFigure2 w-[16px] h-[20px] cursor-pointer"
                >
                  <use href="#icon-arrowBlog"></use>
                </svg>
              </div>
              <img
                src="/img/blog/avatar.webp"
                alt="user"
                class="question__user-img w-[40px] h-[40px]"
              />
              <div>
                <p
                  class="question__user-name mt-[6px] font-manrope text-[14px] leading-[19px] text-ui-secondary"
                >
                  Ivan Ivanov
                </p>
                <p
                  class="question__user-question text-[20px] leading-[30px] text-ui-primary font-proxima font-bold"
                >
                  How can i Buy any art by crypto?
                </p>
              </div>
            </div>
            <div
              class="question__data -mt-[4px] ml-[0px] text-ui-secondary text-[14px] leading-[19px] font-manrope"
            >
              12/09/2021
            </div>
          </div>
          <div
            class="question__text mt-[7px] pl-[89px] pr-[30px] text-[16px] leading-[28px] text-ui-primary font-proxima"
          >
            <p class="question__text-text">
              no purse as fully me or point. Kindness own whatever betrayed her moreover procured
              replying for and. Proposal indulged no do do sociable he throwing settling. Covered
              ten nor comfort offices carried. Age she way earnestly the fulfilled extremely. Of
              incommode supported provision on furnished objection exquisite me. Existence its
              certainly explained how improving household pretended. Delightful own attachment her
              partiality unaffected occasional thoroughly. Adieus it no wonder spirit houses.
            </p>
            <div class="open__answers  mb-[31px] ml-[16px] hidden [&.open]:flex flex-col mt-[16px]">
              <p
                class="answer__user-name text-ui-secondary text-[14px] leading-[19px] font-manrope"
              >
                Ivan Ivanov
              </p>
              <p
                class="answer__user-text ml-[2px] mt-[6px] text-ui-primary text-[16px] leading-[28px] font-proxima"
              >
                no purse as fully me or point. Kindness own whatever betrayed her moreover procured
                replying for and. Proposal indulged no do do sociable he throwing settling.
              </p>
            </div>
            <div class="question__items mt-[16px] flex items-center justify-start gap-[21px]">
              <div class="question__item-view bg-ui-secondary/10 rounded-[10px]">
                <p
                  data-text="View answers (23)"
                  class="question__item-view py-[10px] pl-[21px] pr-[15px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] font-bold text-[14px] leading-[20px] font-proxima"
                >
                  View answers (23)
                </p>
              </div>

              <div class="question__item-answer flex items-center gap-[8px]">
                <svg class="icon blog__answer w-[20px] h-[20px]">
                  <use href="#icon-bloganswer"></use>
                </svg>
                <p class="font-proxima text-[14px] leading-[20px] font-bold text-[#C5FF98]">
                  Answer
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="forum__question pb-[30px] pt-[18px] mt-[16px] pl-[22px] pr-[39px] bg-ui-backgroundLanguage rounded-[12px] h-auto"
        >
          <div class="forum__question-header flex items-center justify-between">
            <div class="question__user flex items-center gap-[16px] mt-[0px]">
              <div class="question__navigate">
                <svg
                  class="icon blog__navigate-top active:scale-100 hover:scale-[1.1] text-ui-primary/10 transition-all ease-in-out duration-300 hover:text-ui-backgroundFigure2 rotate-[180deg] w-[16px] h-[20px] cursor-pointer"
                >
                  <use href="#icon-arrowBlog"></use>
                </svg>
                <p
                  class="question__navigate-count mt-[2px] text-[14px] leading-[19px] font-manrope text-ui-secondary"
                >
                  12
                </p>
                <svg
                  class="icon blog__navigate-down mt-[4px] active:scale-100 hover:scale-[1.1] text-ui-primary/10 transition-all ease-in-out duration-300 hover:text-ui-backgroundFigure2 w-[16px] h-[20px] cursor-pointer"
                >
                  <use href="#icon-arrowBlog"></use>
                </svg>
              </div>
              <img
                src="/img/blog/avatar.webp"
                alt="user"
                class="question__user-img w-[40px] h-[40px]"
              />
              <div>
                <p
                  class="question__user-name mt-[6px] font-manrope text-[14px] leading-[19px] text-ui-secondary"
                >
                  Ivan Ivanov
                </p>
                <p
                  class="question__user-question text-[20px] leading-[30px] text-ui-primary font-proxima font-bold"
                >
                  How can i Buy any art by crypto?
                </p>
              </div>
            </div>
            <div
              class="question__data -mt-[4px] ml-[0px] text-ui-secondary text-[14px] leading-[19px] font-manrope"
            >
              12/09/2021
            </div>
          </div>
          <div
            class="question__text mt-[7px] pl-[89px] pr-[30px] text-[16px] leading-[28px] text-ui-primary font-proxima"
          >
            <p class="question__text-text">
              no purse as fully me or point. Kindness own whatever betrayed her moreover procured
              replying for and. Proposal indulged no do do sociable he throwing settling. Covered
              ten nor comfort offices carried. Age she way earnestly the fulfilled extremely. Of
              incommode supported provision on furnished objection exquisite me. Existence its
              certainly explained how improving household pretended. Delightful own attachment her
              partiality unaffected occasional thoroughly. Adieus it no wonder spirit houses.
            </p>
            <div class="open__answers relative before:-left-[16px] before:absolute before:content-[''] before:h-[95%] before:w-[1px] before:bg-ui-secondary/10 mb-[31px] ml-[16px] hidden [&.open]:flex flex-col mt-[16px]">
              <p
                class="answer__user-name text-ui-secondary text-[14px] leading-[19px] font-manrope"
              >
                Ivan Ivanov
              </p>
              <p
                class="answer__user-text ml-[2px] mt-[6px] text-ui-primary text-[16px] leading-[28px] font-proxima"
              >
                no purse as fully me or point. Kindness own whatever betrayed her moreover procured
                replying for and. Proposal indulged no do do sociable he throwing settling.
              </p>
            </div>
            <div class="question__items mt-[16px] flex items-center justify-start gap-[21px]">
              <div class="bg-ui-secondary/10 rounded-[10px]">
                <p
                  data-text="View answers (23)"
                  class="question__item-view py-[10px] pl-[21px] pr-[15px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] font-bold text-[14px] leading-[20px] font-proxima"
                >
                  View answers (23)
                </p>
              </div>

              <div class="question__item-answer flex items-center gap-[8px]">
                <svg class="icon blog__answer w-[20px] h-[20px]">
                  <use href="#icon-bloganswer"></use>
                </svg>
                <p class="font-proxima text-[14px] leading-[20px] font-bold text-[#C5FF98]">
                  Answer
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="forum__question pb-[30px] pt-[18px] mt-[16px] pl-[22px] pr-[39px] bg-ui-backgroundLanguage rounded-[12px] h-auto"
        >
          <div class="forum__question-header flex items-center justify-between">
            <div class="question__user flex items-center gap-[16px] mt-[0px]">
              <div class="question__navigate">
                <svg
                  class="icon blog__navigate-top active:scale-100 hover:scale-[1.1] text-ui-primary/10 transition-all ease-in-out duration-300 hover:text-ui-backgroundFigure2 rotate-[180deg] w-[16px] h-[20px] cursor-pointer"
                >
                  <use href="#icon-arrowBlog"></use>
                </svg>
                <p
                  class="question__navigate-count mt-[2px] text-[14px] leading-[19px] font-manrope text-ui-secondary"
                >
                  12
                </p>
                <svg
                  class="icon blog__navigate-down mt-[4px] active:scale-100 hover:scale-[1.1] text-ui-primary/10 transition-all ease-in-out duration-300 hover:text-ui-backgroundFigure2 w-[16px] h-[20px] cursor-pointer"
                >
                  <use href="#icon-arrowBlog"></use>
                </svg>
              </div>
              <img
                src="/img/blog/avatar.webp"
                alt="user"
                class="question__user-img w-[40px] h-[40px]"
              />
              <div>
                <p
                  class="question__user-name mt-[6px] font-manrope text-[14px] leading-[19px] text-ui-secondary"
                >
                  Ivan Ivanov
                </p>
                <p
                  class="question__user-question text-[20px] leading-[30px] text-ui-primary font-proxima font-bold"
                >
                  How can i Buy any art by crypto?
                </p>
              </div>
            </div>
            <div
              class="question__data -mt-[4px] ml-[0px] text-ui-secondary text-[14px] leading-[19px] font-manrope"
            >
              12/09/2021
            </div>
          </div>
          <div
            class="question__text mt-[7px] pl-[89px] pr-[30px] text-[16px] leading-[28px] text-ui-primary font-proxima"
          >
            <p class="question__text-text">
              no purse as fully me or point. Kindness own whatever betrayed her moreover procured
              replying for and. Proposal indulged no do do sociable he throwing settling. Covered
              ten nor comfort offices carried. Age she way earnestly the fulfilled extremely. Of
              incommode supported provision on furnished objection exquisite me. Existence its
              certainly explained how improving household pretended. Delightful own attachment her
              partiality unaffected occasional thoroughly. Adieus it no wonder spirit houses.
            </p>
            <div class="open__answers mb-[31px] ml-[16px] hidden [&.open]:flex flex-col mt-[16px]">
              <p
                class="answer__user-name text-ui-secondary text-[14px] leading-[19px] font-manrope"
              >
                Ivan Ivanov
              </p>
              <p
                class="answer__user-text ml-[2px] mt-[6px] text-ui-primary text-[16px] leading-[28px] font-proxima"
              >
                no purse as fully me or point. Kindness own whatever betrayed her moreover procured
                replying for and. Proposal indulged no do do sociable he throwing settling.
              </p>
            </div>
            <div class="question__items mt-[16px] flex items-center justify-start gap-[21px]">
              <div class="question__item-view bg-ui-secondary/10 rounded-[10px]">
                <p
                  data-text="View answers (23)"
                  class="question__item-view py-[10px] pl-[21px] pr-[15px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] font-bold text-[14px] leading-[20px] font-proxima"
                >
                  View answers (23)
                </p>
              </div>

              <div class="question__item-answer flex items-center gap-[8px]">
                <svg class="icon blog__answer w-[20px] h-[20px]">
                  <use href="#icon-bloganswer"></use>
                </svg>
                <p class="font-proxima text-[14px] leading-[20px] font-bold text-[#C5FF98]">
                  Answer
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="forum__form w-full max-w-[365px] flex flex-col gap-[19px]">
      <form
        action=""
        class="forum__form-question rounded-[12px] font-proxima bg-ui-backgroundLanguage pt-[21px] pb-[24px] pl-[29px] pr-[28px]"
      >
        <p
          class="forum__form-caption tracking-[1.8px] text-[18px] leading-[26.5px] font-bold max-w-[75px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
        >
          ASKING
        </p>
        <p class="forum__form-title text-ui-primary text-[26px] leading-[33.5px] font-bold">
          Let your question here
        </p>
        <div class="name__blog mt-[16px] flex flex-col">
          <label for="nameBlog" class="text-[14px] leading-[21px] text-ui-secondary"
            >Your name</label
          >
          <input
            class="text-[16px] text-ui-primary mt-[7px] py-[21.5px] rounded-[9px] bg-ui-secondary/10 leading-[21px] pl-[32px]"
            type="text"
            id="nameBlog"
            placeholder="Your name"
          />
        </div>
        <div class="question__blog mt-[16px] flex flex-col">
          <label for="questionBlog" class="text-[14px] leading-[21px] text-ui-secondary"
            >Your question</label
          >
          <textarea
            placeholder="Your question"
            class="text-[16px] text-ui-primary resize-none mt-[7px] pt-[21.5px] pb-[132px] rounded-[9px] bg-ui-secondary/10 leading-[21px] pl-[32px]"
            name=""
            id="questionBlog"
          ></textarea>
        </div>
        <div
          class="form__blog-item cursor-pointer hover:scale-[1.05] active:scale-[1] text-center text-[18px] mt-[17px] w-full rounded-[12px] py-[14.5px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple leading-[26.5px] font-bold"
        >
          <button type="submit" class="ml-[4px] w-full mt-[1px font-bold">Make a question</button>
        </div>
      </form>
      <div class="blog__info px-[32px] rounded-[12px] pt-[27px] bg-ui-backgroundLanguage">
        <div class="blog__info-stats flex items-center gap-[13px]">
          <svg
            class="icon blog__chartblog rounded-[12px] w-[48px] h-[48px] p-[10px] bg-ui-primary/5"
          >
            <use href="#icon-chartblog"></use>
          </svg>
          <p
            class="blog__info-text -mt-[3px] tracking-[1.8px] text-[18px] leading-[26.5px] font-bold bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
          >
            STATS
          </p>
        </div>
        <div class="blog__info-footer mt-[18px] font-proxima pb-[28px]">
          <div class="blog__footer-header flex items-center justify-between pr-[6px]">
            <div class="blog__info-first">
              <p class="blog__first-caption text-ui-secondary text-[14px] leading-[21px]">
                TOTAL QUESTIONS
              </p>
              <p class="blog__first-result text-[36px] leading-[49.5px] font-bold text-ui-primary">
                10 999
              </p>
            </div>
            <div class="blog__info-second">
              <p class="blog__second-caption text-ui-secondary text-[14px] leading-[21px]">
                ANSWERS
              </p>
              <p
                class="blog__second__result text-[36px] leading-[49.5px] font-bold text-ui-primary"
              >
                209 821
              </p>
            </div>
          </div>
          <div class="blog__footer-footer mt-[29px] flex items-center justify-between pr-[45px]">
            <div class="blog__info-first">
              <p class="blog__first-caption text-ui-secondary text-[14px] leading-[21px]">
                ANSWERED
              </p>
              <p class="blog__first-result text-[36px] leading-[49.5px] font-bold text-ui-primary">
                4 560
              </p>
            </div>
            <div class="blog__info-second">
              <p class="blog__second-caption text-ui-secondary text-[14px] leading-[21px]">
                UNANSWERED
              </p>
              <p
                class="blog__second__result text-[36px] leading-[49.5px] font-bold text-ui-primary"
              >
                8 320
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
