<div class="cardsblog__container relative" data-component="containerBlog">
  <div class="cardsblog__container-swiper px-[165px] -mt-[160px]">
    <div class="cardsblog-swiper swiper swiperBlogCard">
      <div class="cardsblog-wrapper swiper-wrapper">
      </div>
    </div>
  </div>

  <div class="forum__container flex gap-[30px] mt-[56px] pl-[165px] pr-[150px]">
    <div class="forum__questions flex-1 max-w-[730px]">
      <div
        class="forum__search border-[1px] border-ui-primary/50 relative bg-ui-backgroundLanguage rounded-[12px] flex items-center justify-between"
      >
        <input
          type="text"
          class="search outline-none border-none placeholder:-indent-[1px] -tracking-[0.3px] w-full pl-[60px] bg-ui-backgroundLanguage rounded-[12px] py-[22.5px] text-[14px] leading-[19px] text-ui-secondary font-manrope"
          id="search"
          placeholder="Search"
        />
        <svg class="icon blog__search absolute left-[23px] w-[24px] h-[24px]">
          <use href="#icon-search"></use>
        </svg>
        <div class="search__item mr-[11px] max-w-[88px] bg-ui-secondary/10 rounded-[12px]">
          <p
            class="search__button cursor-pointer font-bold font-proxima text-[14px] leading-[20px] py-[14px] px-[22px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
          >
            Search
          </p>
        </div>
      </div>
      <div class="question__wrapper flex flex-col gap-[0px]">
      
      </div>
    </div>
    <div class="forum__form w-full max-w-[365px] flex flex-col gap-[19px]">
      <form
      id="formBlog"
        action=""
        class="forum__form-question rounded-[12px] font-proxima bg-ui-backgroundLanguage pt-[21px] pb-[24px] pl-[29px] pr-[28px]"
      >
        <p
          class="forum__form-caption tracking-[1.8px] text-[18px] leading-[26.5px] font-bold max-w-[75px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
        >
          ASKING
        </p>
        <p class="forum__form-title text-ui-primary text-[26px] leading-[33.5px] font-bold">
          Let your question here
        </p>
        <div class="name__blog mt-[16px] flex flex-col">
          <label for="nameBlog" class="text-[14px] leading-[21px] text-ui-secondary"
            >Your name</label
          >
          <input
            class="text-[16px] text-ui-primary mt-[7px] py-[21.5px] rounded-[9px] bg-ui-secondary/10 leading-[21px] pl-[32px]"
            type="text"
            id="nameBlogUser"
            placeholder="Your name"
          />
        </div>
        <div class="question__blog mt-[16px] flex flex-col">
          <label for="questionBlog" class="text-[14px] leading-[21px] text-ui-secondary"
            >Your question</label
          >
          <textarea
            placeholder="Your question"
            class="text-[16px] text-ui-primary resize-none mt-[7px] pt-[21.5px] pb-[132px] rounded-[9px] bg-ui-secondary/10 leading-[21px] pl-[32px]"
            name=""
            id="questionBlog"
          ></textarea>
        </div>
        <div
          class="form__blog-item cursor-pointer hover:scale-[1.05] active:scale-[1] text-center text-[18px] mt-[17px] w-full rounded-[12px] py-[14.5px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple leading-[26.5px] font-bold"
        >
          <button type="submit" id="buttonBlog" class="ml-[4px] w-full mt-[1px font-bold">Make a question</button>
        </div>
      </form>
      <div class="blog__info px-[32px] rounded-[12px] pt-[27px] bg-ui-backgroundLanguage">
        <div class="blog__info-stats flex items-center gap-[13px]">
          <svg
            class="icon blog__chartblog rounded-[12px] w-[48px] h-[48px] p-[10px] bg-ui-primary/5"
          >
            <use href="#icon-chartblog"></use>
          </svg>
          <p
            class="blog__info-text -mt-[3px] tracking-[1.8px] text-[18px] leading-[26.5px] font-bold bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
          >
            STATS
          </p>
        </div>
        <div class="blog__info-footer mt-[18px] font-proxima pb-[28px]">
          <div class="blog__footer-header flex items-center justify-between pr-[6px]">
            <div class="blog__info-first">
              <p class="blog__first-caption text-ui-secondary text-[14px] leading-[21px]">
                TOTAL QUESTIONS
              </p>
              <p class="blog__first-result text-[36px] leading-[49.5px] font-bold text-ui-primary">
                10 999
              </p>
            </div>
            <div class="blog__info-second">
              <p class="blog__second-caption text-ui-secondary text-[14px] leading-[21px]">
                ANSWERS
              </p>
              <p
                class="blog__second__result text-[36px] leading-[49.5px] font-bold text-ui-primary"
              >
                209 821
              </p>
            </div>
          </div>
          <div class="blog__footer-footer mt-[29px] flex items-center justify-between pr-[45px]">
            <div class="blog__info-first">
              <p class="blog__first-caption text-ui-secondary text-[14px] leading-[21px]">
                ANSWERED
              </p>
              <p class="blog__first-result text-[36px] leading-[49.5px] font-bold text-ui-primary">
                4 560
              </p>
            </div>
            <div class="blog__info-second">
              <p class="blog__second-caption text-ui-secondary text-[14px] leading-[21px]">
                UNANSWERED
              </p>
              <p
                class="blog__second__result text-[36px] leading-[49.5px] font-bold text-ui-primary"
              >
                8 320
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
