<div
  class="headerblog relative flex justify-center items-center mt-[10px]"
>
  <div class="headerblog__background w-full h-[317px]">
    <div
      class="headerblog__header top-[49px] left-[167px] absolute font-proxima text-ui-primary font-bold"
    >
      <h3 class="headerblog__background-title text-[36px] leading-[49.5px]">Forum</h3>
      <p
        class="headerblog__background-text -ml-[2px] mt-[6px] flex items-center gap-[11px] text-[20px] leading-[30px]"
      >
        <svg class="icon blog__star w-[28px] h-[28px]">
          <use href="#icon-blogstar"></use>
        </svg>
        Popular questions
      </p>
    </div>

    <img class="w-full" src="/img/blog/bg.webp" alt="bg" />
  </div>
</div>
