<div
  class="getpremium__container px-[150px] mt-[97px] mb-[100px] font-proxima"
  data-component="getPremium"
>
  <div class="getpremium__decor-mob flex-none w-[320px] h-[500px] absolute right-0 top-[150px] blur-[140px]"></div>
  <div class="getpremium__decor-mob--second flex-none w-[250px] h-[500px] absolute left-0 top-[80px] blur-[140px]"></div>
  <div class="getpremium__background flex relative w-full max-w-[1140px] h-[446px] rounded-[24px]">
    <div
      class="getpremium___column getpremium___column--first max-w-[444px] flex flex-col gap-[12px] ml-[110px] mt-[83px]"
    >
      <svg class="icon getpremium__crown w-[45px] h-[45px]">
        <use href="#icon-crownWhite"></use>
      </svg>
      <h2 class="getpremium__title font-bold text-[36px] mt-[3px]">Get the premium access</h2>
      <p class="getpremium__text text-[16px] leading-7 mt-[4px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. <br />
        Ut enim ad minim veniam
      </p>
      <div class="getpremium__items inline-flex px-[37px] py-[19px] rounded-2xl max-w-[167px]">
        <a href="" class="getpremium__link font-bold text-[18px]">Go to plans</a>
      </div>
    </div>
    <div class="getpremium___column relative h-full w-full overflow-hidden rounded-3xl">
      <div
        class="getpremium___column-decor absolute w-[512px] h-[512px] rounded-full -right-[165px] -top-[21px]"
      ></div>
      <img
        src="../../img/home/purple.png"
        alt="purple"
        class="getpremium__figure-purple absolute blur-[3px] left-[148px]"
      />
      <img
        src="../../img/home/green.png"
        alt="green"
        class="getpremium__figure-green absolute left-[140px] top-[87px]"
      />
      <img
        src="../../img/home/pink.png"
        alt="pink"
        class="getpremium__figure-pink absolute blur-[6px] right-[0px] bottom-[0px]"
      />
    </div>
  </div>
</div>
