<div
  class="mainhero__container relative flex gap-y-[77px] items-center justify-between px-[165px] mt-[88px]"
  data-component="mainHero"
>
  <div class="mainhero__column  max-w-[475px] flex flex-col -mt-[64px]">
    <div class="mainhero__figure absolute 
    w-[758px] h-[550px]
     flex 
     top-[150px]
     -left-[480px] 
     blur-[150px]
      opacity-85
      rounded-3xl
      -z-10"></div>
    <div class="mainhero__figure-mob absolute 
    w-[100px] h-[200px]
     flex 
     top-[200px]
     right-[10px] 
     blur-[60px]
      opacity-85
      -z-10"></div>

    <div class="mainhero__social flex items-center gap-[18px] -ml-[3px]">
      <a class="mainhero__inst rounded-md " href="">
        <svg class="icon mainhero__icon w-6 h-6">
          <use href="#icon-insta"></use>
        </svg>
      </a>
      
      <a class="mainhero__twit rounded-md " href="">
        <svg class="icon w-6 h-6">
          <use href="#icon-twit"></use>
        </svg>
      </a>
      <a class="mainhero__teleg rounded-md " href="">
        <svg class="icon w-6 h-6">
          <use href="#icon-teleg"></use>
        </svg>
      </a>
      <a class="mainhero__pint rounded-md " href="">
        <svg class="icon w-6 h-6 hover:fill-red-500">
          <use href="#icon-pint"></use>
        </svg>
      </a>
    </div>
    <h1
      class="mainhero__title text-[64px] font-bold font-proxima mt-[27px] mb-[14px] leading-[65px]"
    >
      We are here to inspire and share art
    </h1>
    <p class="mainhero__text text-1xl font-proxima max-w-[271px] mb-[40px] leading-[28px]">
      Indulgence announcing uncommonly met she continuing two unpleasing terminated
    </p>
    <div class="mainhero__items flex items-center gap-[12px]">
      <a
        href=""
        class="mainhero__premium-link -mt-[1px] flex items-center gap-2 text-[18px] px-[22px] py-[18.5px] rounded-2xl font-proxima font-bold"
      >
        <svg class="icon mainhero__premium__icon w-6 h-6">
          <use href="#icon-crownBlack"></use>
        </svg>
        Premium access
      </a>
      <a
        href=""
        class="mainhero__discover-link -mt-[1px]  font-bold text-[18px] px-[37px] py-[18.5px] rounded-2xl font-proxima"
        >Discover</a
      >
    </div>
  </div>

  <div class="mainhero__column relative mr-[1px] -mt-[1px]">
    <div class="mainhero__background">
      <img loading="lazy" src="../../img/home/bg.webp" alt="home" class="mainhero__background-img" />
    </div>
    <div
      class="mainhero__hero w-[662px] h-[585px] max-h-[585px] absolute bottom-[19px] -left-[208px]"
    >
      <img
        loading="lazy"
        src="../../img/home/hero.webp"
        alt="hero"
        class="mainhero__hero-img object-cover scale-[1.16]"
      />
      <img
        loading="lazy"
        src="../../img/home/heroMob.webp"
        alt="heromob"
        class="mainhero__hero-img--mob"
      />
    </div>

    <svg class="icon__circleSmall w-[10px] h-[10px] absolute right-[4px] -top-[30px]">
      <use href="#icon-circleSmall"></use>
    </svg>

    <svg class="icon__circle w-[25px] h-[25px] absolute -left-[52px] top-[149px]">
      <use href="#icon-circle"></use>
    </svg>

    <img src="../../img/home/vector.webp" class="icon mainhero__vector absolute w-[213px] h-[335px] -left-[225px] top-[205px]" alt="vector">
    </img>

    <svg class="icon__bigstars w-[46px] h-[62px] absolute -left-[77px] -top-[20px]">
      <use href="#icon-stars"></use>
    </svg>
    <svg class="icon__smallstars w-[36px] h-[48px] absolute -left-[181px] bottom-[124px]">
      <use href="#icon-stars"></use>
    </svg>
  </div>
</div>
