<div
  class="paymentcard__container  max-[350px]:px-[10px] max-sm:pl-[18px] flex justify-between max-lg:px-[15px] mt-[37px] font-proxima px-[165px]"
  data-component="paymentcard"
>
  <div
    class="payment__body max-sm:gap-[28px] w-full 2xl:justify-center max-xl:items-center max-xl:flex-col flex justify-between gap-[25px]"
  >
    <div class="payment__body-left max-sm:mt-[14px] max-w-[540px]">
      <p
        class="payment__purchase max-sm:tracking-[1.4px] max-sm:text-[14px] max-sm:leading-[26.5px] tracking-[1.8px] text-[18px] leading-[36.5px] font-bold max-w-[108px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
      >
        PURCHASE
      </p>
      <h2
        class="payment__title max-[350px]:text-center max-[350px]:max-w-full max-sm:max-w-[350px] max-sm:mt-[0px] max-sm:text-[26px] max-sm:leading-[34px] -mt-[4px] text-[36px] leading-[49.5px] font-bold text-ui-primary"
      >
        Payment for
        <span
          class="bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
          >Name of NFT or art</span
        >
      </h2>
      <div
        class="payment__method max-sm:max-w-[345px] max-sm:mt-[20px] max-sm:ml-[0px] max-xl:justify-center max-xl:items-center max-xl:flex max-xl:max-w-full -ml-[6px] mt-[21px] max-w-[416px] bg-ui-backgroundLanguage rounded-[12px]"
      >
        <p
          class="payment__method-card max-[350px]:px-[8px] max-sm:px-[20px] max-sm:-ml-[1px] max-sm:mt-[7px] h-[56px] payment__method-select hover:font-bold hover:text-ui-backgroundBody hover:bg-gradient-to-r hover:from-ui-colorBlue/50 hover:to-ui-colorPurple/50 cursor-pointer max-sm:pt-[14px] max-sm:w-[111px] max-sm:[&.active]:text-[14px] max-sm:[&.active]:leading-[20px] max-xl:h-[48px] max-sm:text-[14px] max-sm:leading-[20px] justify-center w-[129px] ml-[8px] my-[7px] [&.active]:font-bold [&.active]:text-[18px] [&.active]:leading-[24px] text-[16px] leading-[28px] text-ui-primary rounded-[12px] inline-flex [&.active]:to-ui-colorPurple [&.active]:bg-gradient-to-r [&.active]:text-ui-backgroundLanguage [&.active]:from-ui-colorBlue py-[16px] px-[19px]"
        >
          Credit card
        </p>
        <p
          class="payment__method-paypal max-[350px]:w-[90px] max-[350px]:px-[8px] max-sm:px-[35px] h-[56px] payment__method-select hover:font-bold hover:text-ui-backgroundBody hover:bg-gradient-to-r hover:from-ui-colorBlue/50 hover:to-ui-colorPurple/50 cursor-pointer max-sm:pt-[14px] [&.active]:max-sm:text-[14px] [&.active]:max-sm:leading-[20px] max-sm:w-[111px] max-xl:h-[48px] max-sm:text-[14px] max-sm:leading-[20px] -ml-[4px] justify-center text-center w-[129px] [&.active]:font-bold [&.active]:text-[18px] [&.active]:leading-[24px] text-[16px] leading-[28px] text-ui-primary rounded-[12px] inline-flex [&.active]:to-ui-colorPurple [&.active]:bg-gradient-to-r [&.active]:text-ui-backgroundLanguage [&.active]:from-ui-colorBlue py-[16px] px-[19px]"
        >
          PayPal
        </p>
        <p
          class="payment__method-crypto max-[350px]:w-[90px] max-[350px]:px-[8px] max-sm:leading-[20px] max-sm:px-[35px] max-sm:text-[14px] h-[56px] payment__method-select hover:font-bold hover:text-ui-backgroundBody hover:bg-gradient-to-r hover:from-ui-colorBlue/50 hover:to-ui-colorPurple/50 cursor-pointer max-sm:pt-[13px] max-sm:w-[111px] max-xl:h-[48px] [&.active]:max-sm:text-[14px] [&.active]:max-sm:leading-[20px] -ml-[4px] justify-center w-[129px] [&.active]:font-bold [&.active]:text-[18px] [&.active]:leading-[24px] text-[16px] leading-[28px] text-ui-primary rounded-[12px] inline-flex [&.active]:to-ui-colorPurple [&.active]:bg-gradient-to-r [&.active]:text-ui-backgroundLanguage [&.active]:from-ui-colorBlue py-[16px] px-[19px]"
        >
          Crypto
        </p>
      </div>
      <div class="payment__choice-render"></div>
      <div
        class="contact__check max-sm:gap-[8px] max-sm:mt-[15px] mt-[17px] flex items-center gap-[10px]"
      >
        <input
          name="policy"
          type="checkbox"
          class="contact__check-input max-sm:!pl-0 max-sm:max-w-[20px] bg-ui-backgroundLanguage text-ui-primary appearance-none min-w-[20px] min-h-[20px] rounded-[7px] border checked:bg-orange-500 checked:border-transparent transition-all cursor-pointer relative peer"
        />
        <p
          class="contact__check-text max-sm:pb-[3px] max-sm:pl-[2px] text-ui-primary text-[14px] leading-[21px]"
          data-i18n="contact.privacy"
        ></p>
      </div>
    </div>
    <div
      class="payment__body-righ max-[350px]:max-h-full max-[350px]:min-w-[300px] max-[350px]:max-w-[300px] max-sm:mb-[22px] max-sm:-ml-[2px] max-sm:mt-[6px] max-lg:min-w-[350px] max-xl:max-w-full max-h-[506px] mt-[22px] bg-ui-backgroundLanguage pl-[21px] pr-[15px] pt-[20px] pb-[28px]"
    >
      <h2 class="payment__right-title pr-[90px] text-[16px] leading-[28px] text-ui-primary">
        {{title}}Name of NFT or Art placed here
      </h2>

      <p
        class="payment__caption mt-[18px] tracking-[1.2px] w-[47px] text-[14px] leading-[26.5px] font-bold bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
      >
        PRICE
      </p>
      <div
        class="payment__bid relative after:absolute after:-bottom-[25px] after:content-[''] after:w-full after:h-[1px] after:bg-ui-secondary/50 -mt-[5px] flex justify-between"
      >
        <p class="payment__price text-ui-primary text-[26px] leading-[33.5px] font-bold">
          $100 322{{price}}
        </p>
        <p
          class="payment__bid-text -mt-[15px] h-[40px] py-[7px] px-[18.5px] tracking-[2px] rounded-[11px] bg-ui-green/10 text-[14px] leading-[26.5px] text-ui-green font-bold"
        >
          BID
        </p>
      </div>
      <div class="payment__details mt-[35px]">
        <p
          class="payment__details-caption tracking-[1.4px] max-w-[125px] font-bold text-[14px] leading-[26.5px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
        >
          DETAILED INFO
        </p>
        <div
          class="payment__info whitespace-nowrap mt-[10px] flex justify-between items-center gap-[35px] max-w-[314px]"
        >
          <p
            class="payment__info-size relative after:top-0 after:-right-[23px] after:w-[1px] after:h-full after:bg-ui-secondary/50 after:content-[''] after:absolute text-[16px] leading-[28px] text-ui-primary"
          >
            36 × 27 in <br />
            91.4 × 68.6 cm
          </p>
          <p class="payment__info-caption max-[350px]:text-[12px] mr-[26px] text-[16px] text-ui-primary leading-[28px]">
            This work is part of a <br />
            limited edition set.
          </p>
        </div>
        <p
          class="payment__details-text mt-[20px] text-[14px] text-ui-primary leading-[21px] max-w-[314px]"
        >
          Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The
          use him without greatly can private. Increasing it unpleasant no of contrasted no
          continuing. Nothing colonel my no removed in weather. It dissimilar in up devonshire
          inhabiting.
        </p>
        <br />
        <p
          class="payment__details-text -mt-[4px] text-[14px] text-ui-primary leading-[21px] max-w-[314px]"
        >
          If polite he active county in spirit an. Mrs ham intention promotion engrossed assurance
          defective.
        </p>
      </div>
    </div>
  </div>
</div>
