@use '../../../styles/base/variables' as *;

@media (min-width: 1540px) {
  .artshero__column-img {
    max-width: 600px;
  }
}

.artshero__title,
.artshero__text {
  color: $primary;
}
.artshero__premium-link {
  color: $backgroundBody;
}
.premium__body {
  background: linear-gradient(90deg, rgba($colorBlue, 1), rgba($colorPurple, 1));
}

.artshero__decor-mob--second {
  z-index: -10;
  background: linear-gradient(rgba($backgroundFigure, 0.6), rgba($backgroundFigure2, 0.4));
  top: 250px;
}
.artshero__figure {
  top: 360px;
  height: 380px;
  background: linear-gradient(rgba($backgroundFigure, 1), rgba($backgroundFigure2, 1));
}
@media (max-width: 1370px) {
  .artshero__container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .artshero__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom__text,
  .arts__circle {
    display: none;
  }

  .unique {
    top: 160px;
    right: 0px;
    left: inherit;
    overflow: hidden;
  }
  .unique__text {
    position: relative;
    left: 130px;
    font-size: 50px;
  }
  .artshero__hero-img {
    top: 0px;
  }
  .artshero__hero-img {
    position: static;
    z-index: 5;
  }
}
@media (max-width: 1000px) {
  .artshero__container {
    padding-inline: 15px;
    gap: 25px;
  }
  .arts__smallstars {
    right: inherit;
  }
}
@media (max-width: 600px) {
  .artshero__container {
    gap: 32px;
  }
  .artshero__hero-img {
    position: relative;
    left: 40%;
    top: 23px;
    transform: translate(-50%);
    border-radius: 22px;
  }
  .artshero__body {
    left: -3px;
  }
  .artshero__background-img--mob {
    display: flex;
  }
  .artshero__background-img {
    display: none;
  }
  .artshero__title {
    font-size: 36px;
    line-height: 40px;
  }
  .artshero__text {
    font-size: 15px;
    line-height: 24px;
  }
  .artshero__premium-link {
    font-size: 15px;
    line-height: 26.5px;
  }
  .artshero__hero-img {
    max-width: 309px;
    min-width: 309px;
  }
  .artshero__background-img {
    min-width: 369px;
  }
  .unique {
    top: 62px;
  }
  .artshero__column-title {
    justify-content: center;
    align-items: center;
    margin-block-start: 28px;
    width: 100%;
  }
  .artshero__title {
    max-width: 260px;
    margin-block-end: 8px;
  }
  .artshero__text {
    margin-block-end: 22px;
  }
  .artshero__premium-body {
    padding-block: 13.2px;
    padding-inline-start: 28px;
    padding-inline-end: 29px;
    border-radius: 12px;
  }
  .artshero__premium__icon {
    width: 18px;
    height: 18px;
  }
  .arts__bigstars {
    width: 30px;
    height: 41px;
    left: -12px;
    transform: inherit;
    top: 0px;
  }
  .arts__smallstars {
    transform: inherit;
    top: -7px;
    right: 19px;
  }
}
@media (max-width: 400px) {
  .artshero__column-img {
    height: 340px;
  }
  .artshero__hero-img {
    left: 50.9%;
  }
  .artshero__column-title {
    justify-content: start;
    align-items: start;
  }
  .artshero__decor-mob--second {
    display: flex;
    background: linear-gradient(rgba($backgroundFigureMobArts, 1));
    width: 300px;
    height: 300px;
    top: 320px;
    filter: blur(120px);
  }
  .artshero__figure {
    top: 300px;
    height: 250px;
    width: 100px;
    left: inherit;
    right: 0px;
    background: linear-gradient(90deg, rgba($backgroundPremiumPurple, 1));
    filter: blur(60px);
    border-radius: inherit;
  }
  .artshero__figure-mob {
    background: linear-gradient(
      90deg,
      rgba($backgroundFigure2, 0.3),
      rgba($backgroundFigure2, 0.8)
    );
    width: 250px;
    top: 300px;
    height: 300px;
    right: 10px;
  }
}
@media (max-width: 340px) {
 .artshero__hero-img {
    left: 55%;
  }
}