<div
  class="biography__container mb-[97px] flex font-proxima mt-[104px] gap-[87px] pl-[173px] pr-[185px]"
  data-component="biography"
>
  <div class="biography__column biography__column-first relative">
    <p
      class="biography__caption--mob text-lg font-bold max-w-[142px] tracking-widest relative z-10"
      data-i18n="biography.caption"
    ></p>
    <h2
      class="biography__title--mob text-4xl font-bold mb-[40px] mt-[20px] relative z-10"
      data-i18n="biography.title"
    ></h2>

    <div
      class="biography__background absolute w-[448px] h-[589px] rounded-[24px] rotate-[-4deg]"
    ></div>
    <div
      class="biography__column-bright flex absolute w-[510px] h-[589px] rounded-[24px] blur-[160px] -left-[60px] top-10"
    ></div>
    <div
      class="biography__column-bright--third flex absolute w-[100px] h-[100px] rounded-[24px] rotate-[-4deg] blur-[160px] -left-[80px] top-[240px]"
    ></div>
    <div
      class="biography__column-bright--second flex absolute w-[100px] h-[100px] rounded-[24px] blur-[75px] -left-[60px] bottom-[10px]"
    ></div>

    <img
      class="biography__hero relative min-w-min h-[570px] top-[14px] left-[22px] z-10"
      src="../../img/home/biography.webp"
      alt="biography"
    />

    <svg class="icon__circle-bio w-[25px] h-[25px] absolute -left-[71px] top-[304px]">
      <use href="#icon-circle"></use>
    </svg>

    <svg class="icon__smallstars-bio w-[46px] h-[62px] absolute -left-[96px] top-[138px]">
      <use href="#icon-stars"></use>
    </svg>
  </div>
  <div class="biography__column biography__column-second mt-[30px]">
    <p
      class="biography__caption text-lg font-bold max-w-[118px] tracking-widest"
      data-i18n="biography.caption"
    ></p>
    <h2
      class="biography__title text-4xl font-bold mb-[22px] mt-[4px]"
      data-i18n="biography.title"
    ></h2>
    <p
      class="biography__text max-w-[550px] text-base leading-[28px]"
      data-i18n="biography.text"
    ></p>
    <div class="biography__footer flex justify-center items-center gap-[35px] mt-[42px] mr-[13px]">
      <div class="biography__info flex flex-col">
        <p
          class="biography__info-years mb-[10px] text-[14px] w-[60px] h-[32px] rounded-[10px] pt-[4px] pl-[13px]"
        >
          2007
        </p>
        <p class="biography__info-text max-w-[155px] leading-[28px]" data-i18n="biography.info"></p>
      </div>
      <div class="biography__info flex flex-col">
        <p
          class="biography__info-years mb-[10px] text-[14px] w-[60px] h-[32px] rounded-[10px] pt-[4px] pl-[13px]"
        >
          2014
        </p>
        <p class="biography__info-text max-w-[155px] leading-[28px]" data-i18n="biography.info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </p>
      </div>
      <div class="biography__info biography__info--none flex flex-col">
        <p
          class="biography__info-years mb-[10px] text-[14px] w-[60px] h-[32px] rounded-[10px] pt-[4px] pl-[13px]"
        >
          2019
        </p>
        <p class="biography__info-text max-w-[155px] leading-[28px]" data-i18n="biography.info">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </p>
      </div>
    </div>
  </div>
</div>
