<div
  class="contact__container pt-[86px] z-20 relative flex items-center justify-center font-proxima"
  data-component="contact"
>
  <img
    class="contact__cube -z-10 absolute right-0 blur-[4px] top-[126px]"
    src="../../img/home/contactCube.png"
    alt="cube"
  />
  <img
    class="contact__bluesmall absolute -z-10 left-[215px] bottom-[14px]"
    src="../../img/home/contact.BlueSmall.png"
    alt="bluesmall"
  />
  <img
    class="img contact__blue absolute -z-10 left-[159px] top-[221px] blur-[4px]"
    src="../../img/home/contactBlue.png"
    alt="blue"
  />
  <img
    class="img contact__purple absolute -z-10 left-[0px] top-[290px]"
    src="../../img/home/contactPurple.png"
    alt="purple"
  />
  <img
    class="img contact__purple--small hidden absolute -z-10 right-[50px] top-[16px]"
    src="../../img/home/conactPurpleSmall.png"
    alt="purpleSmall"
  />

  <div class="contact__body max-w-[540px]">
    <div class="contact__header flex flex-col items-center text-center">
      <p
        class="contact__header-caption tracking-[1.8px] ml-[1px] mb-[1px] text-[18px] font-bold leading-[26.5px] max-w-[140px] text-center"
        data-i18n="contact.caption"
      ></p>
      <h2
        class="contact__header-title text-[36px] font-bold leading-[49.5px] max-w-[540px] text-center"
        data-i18n="contact.title"
      ></h2>
    </div>
    <div class="contact__main px-[65px] mt-[22px]">
      <form action="" class="contact__form flex flex-col">
        <label
          class="text-[14px] leading-[21px] mt-[15px]"
          for="username"
          data-i18n="contact.labelName"
        ></label>
        <input
          name="username"
          id="username"
          type="text"
          class="contact__username pl-[32px] pb-[2px] text-[16px] leading-[21px] h-[64px] rounded-[9px] mt-[7px]"
          placeholder="Your name"
          data-i18n="contact.inputName"
        />
        <label
          class="text-[14px] leading-[21px] mt-[15px]"
          for="email"
          data-i18n="contact.labelMail"
        ></label>
        <input
          name="email"
          id="email"
          type="email"
          class="contact__email text-[16px] leading-[21px] h-[64px] rounded-[9px] mt-[7px] pl-[32px] pb-[2px]"
          placeholder="Your mail"
          data-i18n="contact.inputMail"
        />
        <label
          class="text-[14px] leading-[21px] mt-[15px]"
          for="question"
          data-i18n="contact.labelQuestion"
          ></label
        >
        <textarea
          name="question"
          id="question"
          rows="4"
          class="contact__question h-[182px] pl-[32px] pt-[20px] rounded-[9px] w-full block px-[20px] py-[15px] text-[16px] leading-[21px] mt-[7px] resize-none"
          placeholder="Your question"
          data-i18n="contact.inputQuestion"
        ></textarea>

        <button
          class="contact__button mt-[14px] whitespace-nowrap rounded-[16px] font-semibold py-[19px] px-[145px] text-[18px] leading-[26.5px]"
          type="submit"
          data-i18n="contact.checkbox"
        ></button>
        <p
          class="contact__check-error text-center text-[14px] mt-[10px] text-red-600 uppercase"
        ></p>
        <div class="contact__check mt-[8px] flex items-center gap-[10px]">
          <input
            name="policy"
            type="checkbox"
            class="contact__check-input appearance-none min-w-[20px] min-h-[20px] rounded-[7px] border checked:bg-orange-500 checked:border-transparent transition-all cursor-pointer relative peer"
          />
          <p class="contact__check-text text-[14px] leading-[21px]" data-i18n="contact.privacy"></p>
        </div>
      </form>
    </div>
  </div>
</div>
