<div class="homenft__body overflow-hidden relative z-20 font-proxima -mt-[6px]" data-component="homeNftSwiper">
  {{>base/Header}} {{>home/MainHero}} {{>home/Biography}} {{>home/GetPremium}}{{>base/Skeleton}}

  <div class="homenft__container max-sm:pb-[0px] max-sm:pl-[13px] max-sm:pt-[32px] max-[380px]:ml-[8px] max-[380px]:pr-[0px]  max-lg:mb-[0px] max-lg:py-[26px]  max-xl:px-[15px] px-[165px] relative z-30 -mt-[6px]">
    <div
      class="homenft__decor-left max-lg:h-[0px] max-xl:h-[250px] bg-ui-backgroundFigure absolute flex w-[300px] h-[500px] left-[50%] -translate-x-[50%] top-[80px] blur-[100px]"
    ></div>
    <div
      class="homenft__decor-right max-lg:h-[0px] max-xl:h-[250px] bg-ui-backgroundFigureMob absolute flex w-[300px] h-[600px] right-[32%] -translate-x-[50%] top-[50px] blur-[160px] opacity-80"
    ></div>
    <div class="homenft__swiper swiper mySwiperHomeNft overflow-visible relative">
      <div class="homenft__wrapper swiper-wrapper max-[340px]:-ml-[70px] max-lg:-ml-[21px]"></div>
    </div>
  </div>
  {{>home/Contact}}
</div>
