<div class="homenft__body relative z-20 font-proxima -mt-[6px]" data-component="homeNftSwiper">
  {{>base/Header}} {{>home/MainHero}} {{>home/Biography}} {{>home/GetPremium}}{{>base/Skeleton}}

  <div class="homenft__container px-[165px] relative z-30 -mt-[6px]">
    <div
      class="homenft__decor-left absolute flex w-[300px] h-[500px] left-[50%] -translate-x-[50%] top-[80px] blur-[100px]"
    ></div>
    <div
      class="homenft__decor-right absolute flex w-[300px] h-[600px] right-[32%] -translate-x-[50%] top-[50px] blur-[160px] opacity-80"
    ></div>
    <div class="homenft__swiper swiper mySwiperHomeNft overflow-visible relative">
      <div class="homenft__wrapper swiper-wrapper"></div>
    </div>
  </div>
  {{>home/Contact}}
</div>
