<div
  class="contact__container  max-sm:-mb-[13px] max-lg:mb-[25px] -mb-[56px] artscontact max-sm:pt-[53px] max-sm:overflow-hidden pt-[64px] z-20 relative flex items-center justify-center font-proxima"
  data-component="artsContact"
>
  <img
    class="contact__cube max-lg:hidden -z-10 absolute right-0 blur-[4px] top-[102px]"
    src="../../img/home/contactCube.png"
    alt="cube"
    data-speed="0.7"
  />
  <img
    class="contact__bluesmall absolute -z-10 left-[215px] bottom-[70px]"
    src="../../img/home/contact.BlueSmall.png"
    alt="bluesmall"
    data-speed="0.6"
  />
  <img
    class="img contact__blue max-sm:blur-[2px] max-sm:-right-[30px] max-sm:left-[inherit] max-sm:top-[3px] max-sm:h-[95px] max-sm:w-[95px] absolute -z-10 left-[159px] top-[197px] blur-[4px]"
    src="../../img/home/contactBlue.png"
    alt="blue"
    data-speed="0.5"
  />
  <img
    class="img contact__purple max-sm:hidden absolute -z-10 left-[0px] top-[265px]"
    src="../../img/home/contactPurple.png"
    alt="purple"
    data-speed="0.4"
  />
  <img
    class="img contact__purple--small max-sm:flex hidden absolute -z-10 right-[50px] top-[16px]"
    src="../../img/home/conactPurpleSmall.png"
    alt="purpleSmall"
    data-speed="0.6"
  />

  <div class="contact__body max-w-[540px]">
    <div
      data-speed="0.95"
      class="contact__header max-[376px]:ml-[00px] max-[376px]:items-start flex flex-col items-center text-center"
    >
      <p
        class="contact__header-caption [text-shadow:5px_8px_10px_rgba(0,0,0,0.5)] max-sm:text-[14px] max-sm:leading-[26.5px] max-sm:tracking-[1.4px] max-sm:ml-0 [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple tracking-[1.8px] ml-[1px] text-[18px] font-bold leading-[26.5px] text-center"
        data-i18n="ArtsContact.caption"
      ></p>
      <h2
        class="contact__header-title [text-shadow:5px_8px_10px_rgba(0,0,0,0.5)] max-[376px]:max-w-[300px] max-[376px]:!text-start max-sm:text-[26px] max-sm:leading-[34px] max-sm:items-center max-sm:max-w-full max-sm:-mt-[1px] text-ui-primary text-[36px] font-bold leading-[49.5px] max-w-[540px] text-center"
        data-i18n="ArtsContact.title"
      ></h2>
    </div>
    <div
      class="artscontact__main max-[376px]:px-[0px] max-sm:px-[10px] max-sm:mt-[0px] max-sm:mt-o max-lg:px-[15px] px-[65px] mt-[17px]"
    >
      <form
        action=""
        class="artscontact__form max-sm:mt-[36px] max-[350px]:w-[300px] max-[376px]:w-[344px] flex flex-col"
      >
        <label
          class="text-ui-secondary max-sm:-ml-[1px] text-[14px] leading-[21px] mt-[14px] [text-shadow:5px_8px_10px_rgba(0,0,0,0.5)]"
          for="typeofitem"
          data-i18n="ArtsContact.labelType"
        >
        </label>

        <div class="dropdown dropdown-clothes">
          <button
            class="btn relative text-start w-full after:absolute after:right-[20px] font-semibold text-[16px] leading-[21px] py-[21.5px] mt-[6px] pl-[32px] font-proxima border-none bg-ui-backgroundLanguage btn-language btn-primary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            T-SHIRT
          </button>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item dropdown-clothes-item" data-clothes="T-SHIRT" href="#"
                >T-SHIRT</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item dropdown-clothes-item" data-clothes="T-SHIRT-2" href="#"
                >T-SHIRT-2</a
              >
            </li>
          </ul>
        </div>
        <div class="arts__reverse-mob max-sm:flex max-sm:flex-col-reverse">
          <div class="arts__reverse-color">
            <label
              class="text-ui-secondary max-sm:mb-[10px] max-sm:mt-[16px] max-sm:-ml-[1px] mb-[18px] text-[14px] leading-[21px] mt-[27px] [text-shadow:5px_8px_10px_rgba(0,0,0,0.5)]"
              data-i18n="ArtsContact.labelColor"
            >
            </label>
            <div
              class="color__radio max-sm:[&_input]:mt-[12px] max-sm:gap-y-[30px] max-sm:flex-wrap max-sm:max-w-[280px] ml-[2px] flex items-center gap-[12px]"
            >
              <div
                class="color__radio-body gap-y-[22px] max-sm:max-w-[360px] max-sm:flex-wrap absolute flex items-center"
              ></div>
            </div>
          </div>
          <div class="arts__reverse-size">
            <label
              class="text-ui-secondary max-sm:mt-[16px] max-sm:-ml-[1px] text-[14px] leading-[21px] mt-[36px] [text-shadow:5px_8px_10px_rgba(0,0,0,0.5)]"
              for="size"
              data-i18n="ArtsContact.labelSize"
            ></label>
            <div class="dropdown dropdown-size">
              <button
                class="btn after:absolute after:right-[20px] text-start w-full font-semibold text-[16px] leading-[21px] py-[21.5px] mt-[6px] pl-[32px] font-proxima border-none bg-ui-backgroundLanguage btn-language btn-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                XL (99-99-99)
              </button>

              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item dropdown-size-item" data-size="XL (99-99-99)" href="#"
                    >XL (99-99-99)</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item dropdown-size-item" data-size="XL (19-19-19)" href="#"
                    >XL (19-19-19)</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <label
          class="text-ui-secondary max-sm:mt-[25px] max-sm:-ml-[1px] text-[14px] leading-[21px] mt-[26px] [text-shadow:5px_8px_10px_rgba(0,0,0,0.5)]"
          for="yourcomment"
          data-i18n="ArtsContact.labelComment"
        ></label>
        <textarea
          name="yourcomment"
          id="yourcomment"
          rows="4"
          class="contact__comment max-sm:pl-[31px] max-sm:pt-[20px] bg-ui-backgroundLanguage text-ui-primary h-[182px] pl-[32px] pt-[20px] rounded-[9px] w-full block px-[20px] py-[15px] text-[16px] leading-[21px] mt-[7px] resize-none"
          placeholder="Comment"
          data-i18n="ArtsContact.inputComment"
        ></textarea>

        <button
          class="comment__button max-sm:mt-[14px] max-sm:w-full max-sm:px-0 bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple mt-[14px] whitespace-nowrap rounded-[16px] font-semibold py-[19px] px-[145px] text-[18px] leading-[26.5px]"
          type="submit"
          data-i18n="contact.checkbox"
        ></button>
        <p
          class="arts__check-error text-center underline text-[14px] mt-[10px] text-green-400 uppercase"
        ></p>
        <div
          class="artscontact__check max-sm:gap-[8px] max-sm:mt-[6px] mt-[8px] flex items-center gap-[10px]"
        >
          <input
            name="policy"
            type="checkbox"
            class="arts__check-input max-sm:!pl-0 max-sm:max-w-[20px] bg-ui-backgroundLanguage text-ui-primary appearance-none min-w-[20px] min-h-[20px] rounded-[7px] border checked:bg-orange-500 checked:border-transparent transition-all cursor-pointer relative peer"
          />
          <p
            class="contact__check-text max-sm:pb-[3px] max-sm:pl-[2px] text-ui-primary text-[14px] leading-[21px]"
            data-i18n="contact.privacy"
          ></p>
        </div>
      </form>
    </div>
  </div>
</div>
