<div
  class="artshero__container flex gap-[8px] justify-center px-[167px] mt-[31px]"
  data-component="artsHero"
>
  <div
    class="artshero__figure absolute w-[758px] h-[550px] flex top-[150px] -left-[480px] blur-[150px] opacity-85 rounded-3xl -z-10"
  ></div>
  <div
    class="artshero__decor-mob--second flex-none w-[250px] h-[500px] absolute left-0 top-[80px] blur-[140px]"
  ></div>
  <div class="artshero__column artshero__column-title max-w-[475px] flex flex-col mt-[132px]">
 
    <div
      class="artshero__figure-mob absolute w-[100px] h-[200px] flex top-[200px] right-[10px] blur-[60px] opacity-85 -z-10"
    ></div>

    <h1
      class="artshero__title text-[64px] font-bold font-proxima mt-[19px] mb-[16px] leading-[65px]"
      data-i18n="Arts.Hero.title"
    ></h1>
    <p
      class="artshero__text text-1xl font-proxima max-w-[271px] mb-[40px] leading-[28px]"
      data-i18n="Arts.Hero.text"
    ></p>
    <div class="artshero__items flex items-center gap-[12px]">
      <div
        class="artshero__premium-body premium__body flex items-center rounded-2xl px-[22px] py-[18.5px] gap-2"
      >
        <svg class="icon artshero__premium__icon w-6 h-6">
          <use href="#icon-bagArts"></use>
        </svg>
        <a
          href=""
          data-i18n="Arts.Hero.button"
          class="artshero__premium-link -mt-[1px] flex items-center text-[18px] font-proxima font-bold"
        >
        </a>
      </div>
    </div>
  </div>

  <div class="artshero__column artshero__column-img w-full h-[500px]">
    <div class="artshero__body relative right-[0px]">
      <img
        loading="lazy"
        src="../../../img/arts/bg.webp"
        alt="home"
        class="artshero__background-img absolute"
      />
      <img
        loading="lazy"
        src="../../../img/arts/bgMob.webp"
        alt="home"
        class="artshero__background-img--mob hidden absolute top-0"
      />

      <img
        loading="lazy"
        src="../../../img/arts/clothes.webp"
        alt="hero"
        class="artshero__hero-img object-cover absolute left-[64px] top-[39px]"
      />

      <svg class="arts__circle w-[25px] h-[25px] absolute -left-[16px] top-[453px]">
        <use href="#icon-circle"></use>
      </svg>

      <svg
        class="arts__bigstars w-[46px] h-[62px] absolute -left-[10px] rotate-[11deg] top-[357px]"
      >
        <use href="#icon-stars"></use>
      </svg>
      <svg
        class="arts__smallstars w-[36px] h-[48px] absolute rotate-[-15deg] -right-[56px] top-[220px]"
      >
        <use href="#icon-stars"></use>
      </svg>
    </div>
  </div>
</div>
