<div
  class="selectarts__body 2xl:gap-[150px] max-sm:gap-[12px] max-xl:flex-col max-xl:items-center flex gap-[32px] font-proxima"
>
  <div
    class="mainhero__figure max-lg:hidden max-sm:bg-gradient-to-b max-sm:from-ui-backgroundFigureMob/100 max-sm:to-ui-backgroundFigure/100 max-sm:left-[inherit] max-sm:right-[50px] max-sm:opacity-100 max-sm:h-[300px] max-sm:w-[300px] max-sm:top-[180px] max-sm:rounded-full max-sm:blur-[100px] bg-gradient-to-b from-ui-backgroundFigure to-ui-backgroundFigure2 absolute w-[758px] h-[550px] flex top-[280px] -left-[480px] blur-[150px] opacity-85 rounded-3xl -z-10"
  ></div>
  <div class="selectarts__column selectarts__column--first flex flex-col gap-y-[24px]">
    <div
      class="selectarts__wrapper max-lg:max-w-[375px] overflow-hidden relative max-sm:rounded-[7.7px] max-lg:w-full max-lg:h-full max-sm:min-h-[345px] w-[538px] h-[538px] rounded-[12px] bg-ui-{{background}}"
    >
      <img
        src="../../../img/home/nftCard.png"
        alt="hero"
        class="selectarts__wrapper-hero z-10 max-lg:pt-[26px] max-lg:px-[47px] w-full h-full px-[75px] pt-[42px]"
      />
      <div
        class="arts-circle-first max-lg:hidden max-lg:w-[457px] max-lg:h-[457px] bg-gradient-to-b bg-ui-backgroundLanguage/10 absolute w-[713px] h-[713px] rounded-full top-[122px] -left-[87px]"
      ></div>
      <div
        class="arts-circle-second max-lg:hidden max-lg:w-[366px] max-lg:h-[366px] bg-gradient-to-b bg-ui-backgroundLanguage/10 absolute w-[571px] h-[571px] rounded-full -bottom-[269px] -left-[15px]"
      ></div>
      <div
        class="arts-circle-first--mob max-lg:top-[78px] max-lg:-left-[55px] hidden max-lg:block max-lg:w-[457px] max-lg:h-[457px] bg-gradient-to-b bg-ui-backgroundLanguage/10 absolute rounded-full top-[122px] -left-[87px]"
      ></div>
      <div
        class="arts-circle-second--mob max-lg:top-[151px] max-lg:-left-[11px] hidden max-lg:block max-lg:w-[366px] max-lg:h-[366px] bg-gradient-to-b bg-ui-backgroundLanguage/10 absolute rounded-full"
      ></div>
    </div>
  </div>
  <div
    class="selectarts__column selectarts__column--second gap-[20px] flex flex-col justify-between mt-[8px] max-w-[477px]"
  >
    <div class="selectarts__top flex-1">
      <p
        class="selcarts__caption max-sm:text-[14px] max-sm:leading-[26.5px] w-[38px] tracking-[2px] text-[18px] leading-[26.5px] font-bold bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
      >
        NFT
      </p>
      <h2
        class="seelcarts__title max-sm:text-[26px] max-sm:leading-[34px] font-bold text-ui-primary text-[36px] leading-[49.5px]"
      >
        {{title}}
      </h2>
      <p
        class="selectarts__description max-sm:text-[15px] max-sm:leading-[24px] mt-[3px] text-ui-primary text-[16px] leading-[28px]"
      >
        {{text}}
        <br />
        <br />
      </p>
    </div>
    <div class="selectarts__info rounded-[12px] flex mb-[8px] flex-col bg-ui-backgroundLanguage">
      <div
        class="selectarts__header max-sm:pr-[12px] max-sm:pl-[18px] max-sm:pt-[21px] whitespace-nowrap gap-[20px] pt-[16px] pl-[32px] pr-[16px] flex items-center justify-between"
      >
        <h4
          class="selectarts__price max-sm:mt-[7px] max-sm:text-[22px] max-sm:leading-[33.5px] text-ui-primary text-[26px] font-bold leading-[33.5px]"
        >
          ${{price}}
        </h4>
        <div
          class="selectarts__button max-sm:h-[52px] max-sm:-mt-[6px] max-sm:py-[13px] max-sm:px-[37.5px] flex items-center gap-[9px] bg-gradient-to-r py-[19px] rounded-[16px] px-[53px] from-ui-colorBlue to-ui-colorPurple"
        >
          <svg
            class="icon selectarts__logo max-sm:max-w-[18px] max-sm:max-h-[18px] max-w-[24px] max-h-[24px] min-w-[18px] min-h-[18px]"
          >
            <use href="#icon-money"></use>
          </svg>
          <a
            href=""
            class="selectarts__link max-sm:mt-[3px] max-sm:text-[15px] max-sm:leading-[26.5px] text-ui-backgroundBody font-bold text-[18px] leading-[26.5px]"
            >Buy now</a
          >
        </div>
      </div>
      <div
        class="selectarts__footer max-sm:after:-top-[18px] relative after:opacity-20 after:-top-[24px] after:absolute after:w-[92%] after:h-[1px] after:bg-ui-secondary after:content-[''] max-sm:pb-[15px] max-sm:mt-[36px] mt-[39px] pl-[18px] pr-[33px] pb-[28px]"
      >
        <p
          class="selectarts__footer-info max-sm:max-w-[270px] text-[15px] max-sm:text-[12px] max-sm:leading-[20px] leading-[24px] text-ui-secondary"
        >
          You can purchase Art or NFT using popular system of payment. We accepting PayPal,
          Visa/Mastercard. Any crypto currency
        </p>
      </div>
    </div>
  </div>
</div>
