<div
  class="aboutwork__container max-sm:mt-[19px] max-lg:px-[15px] max-xl:px-[180px] mt-[32px] font-proxima pl-[165px] pr-[150px]"
  data-component="aboutwork"
  data-speed="1.1"
>
  <div class="aboutwork__header 2xl:flex 2xl:justify-center relative">
    <p
      class="aboutwork__caption max-sm:-ml-[1px] max-w-[100px] text-[14px] leading-[24px] font-semibold text-ui-secondary"
    >
      About the work
    </p>
    <div
      class="aboutwork__decor 2xl:left-[50%] 2xl:-translate-x-[50%] max-[350px]:w-[250px] max-sm:bg-ui-primary/10 max-sm:-bottom-[10px] max-lg:w-[345px] max-lg:before:w-[97px] before:rounded-[57px] before:bg-gradient-to-r before:from-ui-colorBlue before:to-ui-colorPurple before:w-[124px] before:h-[5px] before:content-[''] before:absolute absolute w-[540px] h-[5px] left-0 -bottom-[15px] bg-ui-backgroundLanguage rounded-[57px]"
    ></div>
  </div>
  <div
    class="aboutwork__body 2xl:justify-center max-sm:gap-[10px] max-xl:w-full max-xl:items-center max-xl:flex-col flex gap-[50px]"
  >
    <div
      class="aboutwork__left max-sm:pl-[16px] max-sm:pr-[13px] max-sm:mt-[30px] max-sm:pt-[16px] max-xl:max-w-full pl-[30px] pr-[21px] mt-[35px] bg-ui-backgroundLanguage rounded-[12px] max-w-[730px] pt-[34px] pb-[24px]"
    >
      <p
        class="aboutwork__left__caption max-sm:before:-left-[16px] max-sm:before:top-[5px] max-sm:before:h-[35px] max-sm:max-w-[215px] -tracking-[0.1px] ml-[15px] before:rounded-[34px] before:from-ui-colorBlue before:to-ui-colorPurple before:bg-gradient-to-r before:absolute before:-top-[3px] before:-left-[14px] before:w-[4px] before:h-[28px] before:content-[''] relative text-[14px] max-w-[347px] leading-[24px] font-semibold bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
      >
        100% of the proceeds of this sale are donated to LAM.
      </p>
      <p
        class="aboutwork__left__text max-sm:mt-[5px] max-sm:leading-[24px] max-sm:text-[15px] mt-[17px] text-[16px] leading-[28px] text-ui-primary"
      >
        Multidisciplinary artist Judy Chicago helped pioneer the feminist art movement in the 1960s
        and ’70s; for decades, she has made work that celebrates the multiplicity of female
        identity. Chicago’s practice spans painting, textile arts, sculpture, and installation and
        has explored the intricacies of childbirth (as seen in her “Birth Project” series, 1980–85),
        the possibilities of minimalist sculpture, and the relationship between landscape and the
        female body. Her most famous work, an installation called The Dinner Party (1974–79), is an
        homage to 39 influential female figures from Eastern and Western mythology and civilization.
        Chicago studied at the University of California, Los Angeles. She founded a groundbreaking
        and widely influential feminist art program while on staff at California State University,
        Fresno. Her work has been exhibited in New York, London, Milan, Chicago, and San Francisco
        and belongs in the collections of the British Museum, Moderna Museet, the Metropolitan
        Museum of Art, the Los Angeles County Museum of Art, the Tate, the Art Institute of Chicago,
        and the National Gallery of Art in Washington, D.C.
      </p>
      <br />
      <p
        class="aboutwork__left__text max-sm:text-[15px] max-sm:leading-[24px] max-sm:mt-[0px] mt-[5px] text text-[16px] leading-[28px] text-ui-primary"
      >
        Applicable sales tax will apply to all works shipped to and within the US. Please note, your
        card will automatically be charged for the Total Purchase Price, buyer’s premium, shipping,
        and any applicable sales tax, based on your registration address. For transactions over
        $50,000, you will be given the option to pay via wire transfer.
      </p>
      <div
        class="aboutwork__items hidden max-sm:inline-flex mt-[15px] rounded-[6px] px-[16px] py-[8px] bg-ui-secondary/5"
      >
        <button
          class="aboutwork__button [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple text-[18px] leading-[24px] font-bold hidden max-sm:flex"
        >
          Hide info
        </button>
      </div>
    </div>
    <div
      class="aboutwork__right max-sm:h-[368px] max-sm:mt-[5px] mt-[35px] w-[345px] h-[514px] rounded-[12px] bg-gradient-to-b from-ui-backgroundPremiumBlue via-ui-backgroundPremiumBlue2 to-ui-backgroundPremiumPurple"
      data-speed="1.2"
    >
      <div class="aboutwork__info max-sm:h-[368px] overflow-hidden relative px-[26px] pt-[32px]">
        <svg class="icon whiteauc__icon w-[24px] h-[24px]">
          <use href="#icon-crownWhite"></use>
        </svg>
        <h3
          class="aboutwork__info-title mt-[4px] text-[26px] leading-[34px] font-bold text-ui-primary"
        >
          Liked the work?
        </h3>
        <p class="aboutwork__info-text mt-[8px] text-[15px] leading-[24px] text-ui-primary">
          Share with friends in social media
        </p>
        <div class="aboutwork__info-social -ml-[1px] mt-[20px] flex items-center gap-[18px]">
          <svg class="icon whiteinst__icon w-[24px] h-[24px]">
            <use href="#icon-instWhite"></use>
          </svg>
          <svg class="icon whitetwit__icon w-[24px] h-[24px]">
            <use href="#icon-twitWhite"></use>
          </svg>
          <svg class="icon whitetel__icon w-[24px] h-[24px]">
            <use href="#icon-telegramWhite"></use>
          </svg>
          <svg class="icon whitepin__icon w-[24px] h-[24px]">
            <use href="#icon-pinWhite"></use>
          </svg>
        </div>
        <img
          src="../../../img/auction/send.png"
          alt="send"
          class="max-sm:ml-[0px] max-sm:mt-[16px] max-sm:left-[50%] max-sm:-translate-x-[50%] max-sm:scale-100 max-sm:min-w-[175px] max-sm:h-[175px] scale-[1.05] -ml-[14px] relative z-10 aboutwork__send mt-[20px] min-w-[318px] h-[318px]"
        />
        <img
          src="../../../img/auction/purple.png"
          alt="purple"
          class="aboutwork-purple max-sm:bottom-[60px] max-sm:w-[64px] max-sm:h-[99px] absolute left-0 -bottom-[6px] z-10"
        />
        <img
          src="../../../img/home/pink.png"
          alt="pink"
          class="aboutwork-pink max-sm:bottom-[60px] max-sm:w-[91px] max-sm:h-[63px] w-[133px] blur-[9px] h-[93x] absolute z-10 -bottom-[2px] -right-[25px]"
        />
        <div
          class="aboutwork__info-decor max-sm:-bottom-[255px] bg-gradient-to-r from-ui-primary/30 to-ui-colorPurple/40 mask-circle-second absolute -bottom-[229px] left-[50%] -translate-x-[50%] w-[399px] h-[399px] rounded-full"
        ></div>
      </div>
    </div>
  </div>
</div>
