<div
  class="container__auction 2xl:justify-center max-sm:gap-[12px] max-sm:mt-[31px] max-xl:items-center max-xl:flex-col max-xl:px-[15px] pl-[165px] pr-[165px] mt-[23px] flex gap-[32px] font-proxima"
  data-component="heroAuc"
  data-speed="1.1"
>
  <svg
    class="icon__bigstars max-xl:hidden absolute w-[42px] h-[62px] top-[118px] left-[105px] animate-pulse duration-500"
    data-speed="1.2"
  >
    <use href="#icon-stars"></use>
  </svg>
  <svg
    class="icon__smallstars max-xl:hidden absolute w-[24px] h-[33px] top-[115px] right-[234px]"
    data-speed="1.2"
  >
    <use href="#icon-stars"></use>
  </svg>
  <svg class="icon__circle max-xl:hidden absolute w-[15px] h-[15px] top-[650px] left-[134px]">
    <use href="#icon-circle"></use>
  </svg>
  <div
    class="mainhero__figure max-lg:hidden max-sm:bg-gradient-to-b max-sm:from-ui-backgroundFigureMob/100 max-sm:to-ui-backgroundFigure/100 max-sm:left-[inherit] max-sm:right-[50px] max-sm:opacity-100 max-sm:h-[300px] max-sm:w-[300px] max-sm:top-[180px] max-sm:rounded-full max-sm:blur-[100px] bg-gradient-to-b from-ui-backgroundFigure to-ui-backgroundFigure2 absolute w-[758px] h-[550px] flex top-[290px] -left-[480px] blur-[150px] opacity-85 rounded-3xl -z-10"
  ></div>
  <div
    class="mainhero__figure bg-gradient-to-r from-ui-backgroundFigureMob to-ui-backgroundFigure2 right-0 w-[350px] h-[550px] max-lg:hidden max-sm:bg-gradient-to-b max-sm:left-[inherit] max-sm:right-[50px] max-sm:opacity-100 max-sm:h-[300px] max-sm:w-[300px] max-sm:top-[180px] max-sm:rounded-full max-sm:blur-[100px] absolute flex top-[290px] blur-[150px] opacity-85 rounded-3xl -z-10"
  ></div>
  <div class="auction__left flex flex-col gap-y-[24px]">
    <div
      class="auction__wrapper max-lg:w-full max-lg:h-full overflow-hidden relative max-sm:rounded-[7.7px] max-sm:min-h-[345px] w-[538px] h-[538px] rounded-[12px] bg-ui-backgroundFigure"
    >
      <img
        src="../../../img/home/nftCard.png"
        alt="hero"
        class="auction__wrapper-hero z-10 max-lg:pt-[26px] max-lg:px-[47px] w-full h-full px-[75px] pt-[42px]"
      />
      <div
        class="arts-circle-first max-lg:hidden max-lg:w-[457px] max-lg:h-[457px] bg-gradient-to-b bg-ui-backgroundLanguage/10 absolute w-[713px] h-[713px] rounded-full top-[122px] -left-[87px]"
      ></div>
      <div
        class="arts-circle-second max-lg:hidden max-lg:w-[366px] max-lg:h-[366px] bg-gradient-to-b bg-ui-backgroundLanguage/10 absolute w-[571px] h-[571px] rounded-full -bottom-[269px] -left-[15px]"
      ></div>
      <div
        class="arts-circle-first--mob max-lg:top-[78px] max-lg:-left-[55px] hidden max-lg:block max-lg:w-[457px] max-lg:h-[457px] bg-gradient-to-b bg-ui-backgroundLanguage/10 absolute rounded-full top-[122px] -left-[87px]"
      ></div>
      <div
        class="arts-circle-second--mob max-lg:top-[151px] max-lg:-left-[11px] hidden max-lg:block max-lg:w-[366px] max-lg:h-[366px] bg-gradient-to-b bg-ui-backgroundLanguage/10 absolute rounded-full"
      ></div>
    </div>
  </div>
  <div class="auction__right">
    <p
      class="auction__caption max-sm:ml-[0px] max-xl:ml-[150px] mt-[9px] max-w-[100px] max-sm:tracking-[1.3px] max-sm:text-[14px] tracking-[1.6px] bg-gradient-to-r [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] from-ui-colorBlue to-ui-colorPurple font-bold text-[18px] leading-[26.5px]"
    >
      AUCTION
    </p>
    <h3
      class="auction__title max-sm:mt-[0px] max-sm:justify-start max-lg:leading-[34px] max-lg:text-[26px] max-xl:justify-center mt-[9px] flex gap-[16px] items-center text-[36px] leading-[33.5px] font-bold text-ui-primary"
    >
      Title of picture or NFT
    </h3>
    <div
      class="auction__info max-sm:text-[15px] max-sm:leading-[24px] max-sm:mt-[11px] max-sm:gap-[22px] max-sm:[&_br]:hidden max-sm:flex-col max-xl:justify-center mt-[30px] text-[16px] leading-[28px] text-ui-primary flex items-center gap-[48px]"
    >
      <p
        class="auction__info--size max-sm:after:bg-ui-primary max-sm:after:opacity-20 max-sm:tracking-[0.2px] max-sm:after:left-0 max-sm:after:top-[39px] max-sm:after:w-[100%] max-sm:after:h-[1px] max-sm:w-[100%] relative after:absolute after:content-[''] after:w-[1px] after:h-full after:bg-ui-secondary/20 after:top-0 after:-right-[26px]"
      >
        36 × 27 in <br />
        91.4 × 68.6 cm
      </p>
      <div
        class="auction__info-price max-sm:after:bg-ui-primary max-sm:-ml-[2px] max-sm:mt-[14px] max-sm:after:opacity-50 max-sm:after:left-0 max-sm:after:top-[38px] max-sm:after:w-[100%] max-sm:after:h-[1px] max-sm:w-[100%] max-sm:justify-between max-sm:flex-row relative after:absolute after:content-[''] after:w-[1px] after:h-[92%] after:bg-ui-secondary/20 after:top-0 after:-right-[26px] flex flex-col mt-[4px]"
      >
        <p class="auction__info-text">Estimated value</p>
        <span
          class="font-bold max-sm:-mt-[4px] max-sm:text-[18px] max-sm:leading-[24px] text-[22px] leading-[33.5px] mt-[1px]"
          >$6,000</span
        >
      </div>
      <p
        class="auction__info-description max-sm:ml-[1px] max-sm:mt-[9px] max-sm:w-[100%] -mt-[1px] ml-[1px]"
      >
        This work is part of a <br />
        limited edition set.
      </p>
    </div>
    <div
      class="auction__board max-w-[540px] max-sm:mt-[32px] rounded-[12px] bg-ui-backgroundLanguage mt-[46px] relative overflow-hidden"
    >
      <div
        class="board__decor max-sm:after:w-[260px] max-sm:after:h-[10px] after:rounded-b-[8px] after:absolute after:left-[50%] after:-translate-x-[50%] after:bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple after:w-[403px] after:content-[''] after:h-[16px] relative h-[16px]"
      ></div>
      <div
        class="auction__header max-sm:mt-[12px] mt-[6px] flex flex-col justify-center items-center"
      >
        <p
          class="auction__current-caption max-sm:tracking-[1.4px] tracking-[1.5px] text-[14px] leading-[26.5px] font-bold bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]"
        >
          highest price
        </p>
        <p
          class="auction__current-price -mt-[4px] text-[26px] text-ui-primary font-bold leading-[33.5px]"
        >
          $100 322
        </p>
      </div>
      <div
        class="auction__main max-sm:gap-[10px] max-sm:mt-[16px] max-sm:px-[16px] max-sm:items-start max-sm:flex-col max-xl:justify-center mt-[6px] px-[42px] gap-[12px] flex items-end justify-between"
      >
        <div class="max-sm:w-full flex flex-col gap-[7px]">
          <label class="text-ui-secondary text-[14px] leading-[21px]" for="input__bid"
            >Place your bid</label
          >
          <input
            id="input__bid"
            class="input__bid max-sm:w-[100%] w-[266px] placeholder:pl-[32px] text-ui-primary rounded-[9px] py-[20px] bg-[#2C2F33]"
            type="number"
            placeholder="$100 322"
          />
        </div>
        <button
          type="button"
          class="action__button max-sm:py-[12.8px] max-sm:text-[15px] max-sm:leading-[26.5px] max-sm:w-full whitespace-nowrap active:scale-100 hover:scale-110 text-[18px] leading-[26.5px] font-bold rounded-[12px] py-[19px] px-[51px] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple text-ui-backgroundLanguage"
        >
          Place bid
        </button>
      </div>
      <div class="auction__footer pb-[21px] mt-[18px] flex flex-col items-center justify-center">
        <div
          class="auction__timer max-sm:gap-[8px] max-sm:text-[18px] max-sm:leading-[24x] bg-gradient-to-r from-ui-colorBlue to-ui-colorPurple [-webkit-background-clip:text] [-webkit-text-fill-color:transparent] max-w-[190px] text-[22px] font-bold leading-[33.5px] flex items-center gap-[11px]"
        >
          <p class="auction__timer-day">28d</p>
          <p class="auction__timer-hour">17h</p>
          <p class="auction__timer-min">26m</p>
          <p class="auction__timer-sec">31s</p>
        </div>
        <p
          class="auction__footer-caption -mt-[6px] text-ui-primary text-[14px] leading-[24px] font-semibold"
        >
          Live март 5, 8:00pm
        </p>
        <p
          class="auction__footer-live max-sm:after:ml-[16px] max-sm:after:left-0 max-sm:after:opacity-20 max-sm:after:-top-[17px] max-sm:after:w-[91%] max-sm:after:h-[1px] max-sm:after:bg-ui-primary max-sm:after:absolute max-sm:relative max-sm:after:content-[''] max-sm:mt-[30px] max-sm:px-[34px] mt-[12px] px-[98px] text-ui-secondary text-[12px] leading-[20px] text-center"
        >
          You can purchase Art or NFT using popular system of payment. We accepting PayPal,
          Visa/Mastercard. Any crypto currency
        </p>
      </div>
    </div>
  </div>
</div>
