@mixin huge {
  @media (min-width: 2000px) {
    @content;
  }
}

@mixin big {
  @media (max-width: 1999px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1750px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin table-big {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) and (min-width: 769px) {
    @content;
  }
}

@mixin tablet-mini {
  @media (max-width: 768px) and (min-width: 601px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}

//FONTS

//MANROPE
@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
// PROXIMA NOVA
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/ProximaNova-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/ProximaNova-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// COLORS
$backgroundBody: #1d1f21;
$primary: #fcffff;
$black: #000000;
$secondary: #c8d2dc;
$green: #c5ff98;
$colorBlue: #68c9ff;
$colorPurple: #d1b5ff;
$backgroundLanguage: #212426;
$backgroundFigure: #7e51ff;
$backgroundFigure2: #86a8ff;
$backgroundFigureMob: #3626ea;
$backgroundFigureMobArts: #1300e8;
$backgroundBiography: #376fff;
$backgroundBiography2: #5684f8;
$backgroundBiographySecond: #961de2;

$backgroundPremiumBlue: #6880ff;
$backgroundPremiumBlue2: #3ca7f4;
$backgroundPremiumPurple: #8c45ff;

$backgroundCardHomeNft: #212426;

// FONT-WEIGHT
$fontBold: 700;
