@use '../base/_variables.scss' as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $backgroundBody;

  position: relative;
  &.open,
  &.loading {
    overflow: hidden;
  }
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1540px) {
  .biography__container,
  .mainhero__container,
  .getpremium__container,
  .skeleton__container,
  .artshero__container {
    display: flex;
    justify-content: center;
    gap: 150px;
  }
  .homenft__slide {
    max-width: 550px;
  }
}
