@use '../base/_variables.scss' as *;
html,
body {
  height: 100%; 
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  align-items: center;
  background-color: $backgroundBody;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


@media (min-width: 1540px) {
  .biography__container,
  .mainhero__container,
  .getpremium__container,
  .skeleton__container,
  .artshero__container {
    display: flex;
    justify-content: center;
    gap: 150px;
  }
}
