@use '../base/_variables.scss' as *;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $backgroundBody;
  position: relative;
  &.open,
  &.loading {
    overflow: hidden;
  }
}
.wrapper {
  width: 100%;
  max-width: 1440px;
}

